/* ---------------- calendar style ----------------------- */

.bs-box {
  background-image: linear-gradient(to top left, rgb(13, 255, 156),
  rgb(115, 180, 216), rgb(102, 255, 157));
  width: 275px;
  min-height: 250px;
  margin: 0px auto;
  margin-bottom: 30px;
  box-shadow: black 1px 1px;
  background-color: #2d9b76;
  padding: 0px 5px 5px 5px;
}

/*big block*/
.bs-date {
  margin: 0 auto;
  width: 273px;
  min-height: 140px;
  margin-bottom: 10px;
}

.bs-date-header {
  margin-bottom: 10px;
  min-height: 20px;
}

/*small block*/
.bs-day {
  width: 38px;
  height: 24px;
  padding: 0px 2px;
  background-color: rgba(207, 255, 236, 0.29);
  /*    border: outset 1px #dbf0ea;*/
  float: left;
  margin: 0.5px 0;
  text-align: center;
}

.bs-day:hover {
  /* background-color: rgba(207, 255, 236, 1);*/
  margin: 0.5px;
  margin-right: 1px;
  width: 36px;
  padding: 0px 1px;
  cursor: pointer;
}

.bs-active0 {
  color: white;
}

.bs-active2 {
  background-image: linear-gradient(to top, rgb(157, 255, 200),
  rgb(26, 173, 119), rgb(157, 255, 200));
  padding: 2px;
}

.mounth-line div {
  float: left;
}

.mounth-line {
  padding: 2px;
  width: 270px;
  margin: 0px auto;
}

.mounth {
  width: 150px;
  text-align: center;
}

.mounth-line .glyphicon {
  text-align: center;
  padding: 2px;
  width: 25px;
}

.circle {
  border: 1px solid red;
  width: 26px;
  height: 22px;
  border-radius: 50% 40% 45% 50%;
  margin: 0px auto;
  text-align: center;
  margin-top: 2px;
  line-height: 1.2857143;
}

.circle:hover {
  background-image: linear-gradient(to top left, rgb(255, 221, 225),
  rgb(255, 17, 12), rgb(255, 227, 253));
  border: 0px solid red;
  border-radius: 50%;
  line-height: 1.5857143;
}

.marker-image{
  width:150px;
}

.marker-link{
  cursor:pointer;
}
