<% include header.ejs %>

<% for (var type in messages) { %>
  <% for (var i in messages[type]) { %>
    <div class="alert alert-<%= type %> text-center">
      <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <%= messages[type][i] %>
    </div>
  <% } %>
<% } %>

<div ng-if="!main.routeChangeError" ng-view=""></div>
<div ng-if="main.routeChangeError">
  <div ng-if="main.statusCode" ng-include="'shared/errors/' + main.statusCode + '.html'"></div>
  <div ng-if="!main.statusCode">
    <h1 class="text-center">Looks like there is some problems with our app! (╯°□°）╯︵ ┻━┻</h1>
  </div>
</div>

<% include footer.ejs %>
