  <div class="input-group col-xs-offset-1 col-xs-10">
    <form class="form-inline" name="searchForm"
          novalidate>
      <input placeholder="Enter Place" type="text" ng-model="placesearch" typeahead-editable="false" uib-typeahead="place.name for place in placesforsearch | filter:$viewValue | limitTo:8" class="form-control" typeahead-min-length="0" typeahead-no-results="noResults">

   <span ng-if="noResults" uib-dropdown uib-dropdown-toggle auto-close="disabled" is-open="true">
      <ul class="uib-dropdown-menu" >
        <li><a href>no results</a></li>
      </ul>
    </span>
    </form>
  </div>
