<div class="blog-find">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input ng-model="$ctrl.query" type="text" class="form-control"
                       placeholder="Search blog">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                  </span>
            </div>
        </div>
    </div>
</div>
<div class="blog-category-list">
    <div class="row">
        <div class="col-md-12">
            <h3>Categories</h3>
            <ul>
                <li ng-repeat="category in $ctrl.categoryList  ">
                    <a href="#">
                        <i class="fa {{category.icon}}" aria-hidden="true"></i>
                        {{category.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="blog-panel">
    <div class="row">
        <div class="col-md-12">
            <div class="tabbable" id="tabs-blog">
                <ul class="nav nav-tabs">
                    <li class="active" ng-class="{ active: $ctrl.isSelected(1) }">
                        <a href="" data-toggle="tab" ng-click="$ctrl.selectTab(1)">
                            Popular
                        </a>
                    </li>
                    <li ng-class="{ active: $ctrl.isSelected(2) }">
                        <a href="" data-toggle="tab" ng-click="$ctrl.selectTab(2)">
                            Most discussed
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane" ng-class="{ active: $ctrl.isSelected(1) }"
                         id="panel-popular">
                        <div class="media blog-aside-items"
                             ng-repeat="blog in $ctrl.blogs | orderBy: 'blogLikes':true | limitTo:3 ">
                            <a href="#!/blog/{{blog.id}}" class="pull-left">
                                <img alt="{{blog.title}}"
                                     ng-src="{{blog.blogPhoto.url}}" class="media-object"/>
                            </a>

                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="#!/blog/{{blog.id}}">
                                        {{blog.title}}
                                    </a>
                                </h4>

                                <div class="media-date">
                                    {{blog.createdAt | date:'dd MMMM yyyy'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" ng-class="{ active: $ctrl.isSelected(2) }"
                         id="panel-recent">
                        <div class="media blog-aside-items"
                             ng-repeat="blog in $ctrl.blogs | orderBy: 'blogComments':true | limitTo:3">
                            <a href="#!/blog/{{blog.id}}" class="pull-left">
                                <img alt="{{blog.title}}"
                                     ng-src="{{blog.blogPhoto.url}}" class="media-object"/>
                            </a>

                            <div class="media-body">
                                <h4 class="media-heading">
                                    <a href="#!/blog/{{blog.id}}">
                                        {{blog.title}}
                                    </a>
                                </h4>

                                <div class="media-date">
                                    {{blog.createdAt | date:'dd MMMM yyyy'}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>