<div class="blog-find">
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input ng-model="$ctrl.query" type="text" class="form-control"
                       placeholder="Search blog">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                  </span>
            </div>
        </div>
    </div>
</div>