<section class="blog-page-content">
    <div class="container">
        <div class="row">
            <article>
                <div class="col-md-8">
                    <div class="row">

                        <div class="col-md-6 col-sm-6 col-xs-12"
                             ng-repeat="blog in $ctrl.blogs | filter:$ctrl.query | orderBy:$ctrl.dateProp:true">
                            <div class="thumbnail blog-list-item">
                                <a href="#!/blog/{{blog.id}}">
                                    <img ng-src="{{blog.blogPhoto.url}}" alt="{{blog.title}}">
                                </a>

                                <div class="caption">
                                    <h3 class="blog-title">
                                        <a href="#">{{blog.title}}</a>
                                    </h3>

                                    <div class="blog-details">
                                        By
                        <span class="blog-author">
                            <a href="#" title="Posts by admin" rel="author">{{blog.userId}}</a>
                        </span>
                                        <span class="blog-date">
								{{blog.createdAt | date:'dd MMMM yyyy'}}
					</span>
                                        <a href="#" class="blog-category">{{blog.category.name}}</a>
                                    </div>
                                    <div class="blog-separator"></div>

                                    <div class="blog-content">
                                        {{blog.content | limitTo: 140}}{{blog.content.length>140 ? '...' : ''}}
                                    </div>

                                    <p class="blog-meta">
                                        <a href="#!/blog/{{blog.id}}" class="blog-read-more">Read more
                                            <i class="fa fa-book" aria-hidden="true"></i>
                                        </a>
                                        <span class="pull-right">
                                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                                            {{blog.blogComments.length}}
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <aside>
                <div class="col-md-offset-1 col-md-3 col-sm-4 hidden-xs">
                    <div class="row">
                        <div class="col-md-12">
                            <blog-sidebar></blog-sidebar>

                            <!--<div class="blog-category-list">-->
                            <!--<div class="row">-->
                            <!--<div class="col-md-12">-->
                            <!--<h3>Categories</h3>-->
                            <!--<ul>-->
                            <!--<li ng-repeat="category in $ctrl.blogs | orderBy: $ctrl.categoryProp | unique: $ctrl.categoryProp  ">-->
                            <!--<a href="#" ng-click="selectCategory(item)">-->
                            <!--<i class="fa fa-bicycle" aria-hidden="true"></i>-->
                            <!--{{category}}-->
                            <!--</a>-->
                            <!--</li>-->
                            <!--</ul>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--</div>-->

                            <div class="blog-panel">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tabbable" id="tabs-blog">
                                            <ul class="nav nav-tabs">
                                                <li class="active" ng-class="{ active: $ctrl.isSelected(1) }">
                                                    <a href="" data-toggle="tab" ng-click="$ctrl.selectTab(1)">
                                                        Popular
                                                    </a>
                                                </li>
                                                <li ng-class="{ active: $ctrl.isSelected(2) }">
                                                    <a href="" data-toggle="tab" ng-click="$ctrl.selectTab(2)">
                                                        Most discussed
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane" ng-class="{ active: $ctrl.isSelected(1) }"
                                                     id="panel-popular">
                                                    <div class="media blog-aside-items"
                                                         ng-repeat="blog in $ctrl.blogs | orderBy: 'blogLikes':true | limitTo:3 ">
                                                        <a href="#!/blog/{{blog.id}}" class="pull-left">
                                                            <img alt="{{blog.title}}"
                                                                 ng-src="{{blog.blogPhoto.url}}" class="media-object"/>
                                                        </a>

                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#!/blog/{{blog.id}}">
                                                                    {{blog.title}}
                                                                </a>
                                                            </h4>

                                                            <div class="media-date">
                                                                {{blog.createdAt | date:'dd MMMM yyyy'}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" ng-class="{ active: $ctrl.isSelected(2) }"
                                                     id="panel-recent">
                                                    <div class="media blog-aside-items"
                                                         ng-repeat="blog in $ctrl.blogs | orderBy: 'blogComments':true | limitTo:3">
                                                        <a href="#!/blog/{{blog.id}}" class="pull-left">
                                                            <img alt="{{blog.title}}"
                                                                 ng-src="{{blog.blogPhoto.url}}" class="media-object"/>
                                                        </a>

                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#!/blog/{{blog.id}}">
                                                                    {{blog.title}}
                                                                </a>
                                                            </h4>

                                                            <div class="media-date">
                                                                {{blog.createdAt | date:'dd MMMM yyyy'}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>
