.comment {
  color: @brand-dark;
  textarea {
    resize: none;
    overflow: hidden;
  }
  img {
    width: 100px;
    max-height: 150px;
  }
  .btn-group {
    margin-top: 10px;
  }
  .add-comment {
    margin-top: 20px;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    p {
      font-size: 10px;
      color: #777;
    }
    .add-comment-button {
      margin-top: 5px;
      button {
        font-size: 18px;
        color: #fff;
        background-color: @brand-dark;
        border: none;
        width: 100px;
        height: 40px;
        &:disabled {
          background-color: #999;
        }
      }
    }
  }
  .show-comments {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    .confirm-remove {
      position: absolute;
      border-radius: 4px;
      margin-bottom: 0;
      padding: 5px;
      right:10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      p {
        margin-bottom: 0;
      }
      .btn-group {
        margin-left: 15px;
      }
    }
    .show-comments-content {
      h5 {
        display: inline;
        font-weight: bold;
      }
      a {
        margin-right: 10px;
        font-size: 18px;
        color: #777;
        &:hover {
          color: @brand-dark;
        }
      }
      p:first-child {
        margin-top: 10px;
        word-break: break-all;
      }
      p:last-child {
        margin-top: 10px;
        font-size: 10px;
        color: #777;
      }
    }
  }
}
