// Signin & Signup forms

.circleuser{
	color: @brand-light;
	position: absolute;
	text-align: center;
	left: 130px;
}
.user{
	color: @brand-dark;
	position: absolute;
	text-align: center;
	left: 133px;
}
.login {
	position: fixed;
	left: 0;
	top: 250px;
	background-color: @brand-light;
	width: 350px;
}
.signup {
	position: fixed;
	left: 0;
	top: 250px;
	background-color: @brand-light;
	width: 350px;
}
.signhead {
	position: fixed;
	left: 0;
	top:53px;
	height: 197px;
	background-color: @brand-dark;
	width: 350px
}
.logotype{
	color: @brand-light;
	font-size: 30px;
	text-align: center;
}
#informlog{
	color: @brand-light;
	font-size: 18px;
	text-align: center;
	margin-top: 110px;

}
.email{
	padding-top: 20px;
}
input[type=text]:focus {
    border: 3px solid green;
}
input[type=text] {
    border: 1px solid green;
    border-radius: 10px;
}
input[type=email]:focus {
    border: 3px solid green;
}
input[type=email] {
    border: 1px solid green;
    border-radius: 10px;
}
input[type=password]:focus {
    border: 3px solid green;
}
input[type=password] {
    border: 1px solid green;
    border-radius: 10px;
}
.submit-btn {
	background-color: @brand-dark;
	border-radius: 10px;
	border: none;
	color:@brand-light;
	margin-bottom: 7%;
	font-size: 18px;
}
.no-account {
	text-align: center;
}
.link {
	color: @brand-light;
}
.link:hover {
	color: @brand-light;
}
.link:active {
	color: @brand-light;
}

hr{
	border-color: @brand-dark;
	margin: 5% -5%;
}
.btn-google{
	margin-bottom: 5%;
}
label{
	color: @brand-dark;
}
.tip{
	color: @brand-dark;
	font-size: 13px;
}
.error{
	color: red;
	font-size: 15px;
}