<h4>Popular Tracks in location</h4>
<div class="popular-in-location-wrapper"
     ng-repeat="track in $ctrl.popularTracks | orderBy: '-rate'">
  <img ng-src="{{track.photos[0]}}">
  <a ng-href="#!/tracks/{{track.id}}">
    <div class="popular-in-location-gradient"></div>
  </a>
  <span class="popular-track-rate"><i class="fa fa-heart"></i> {{track.rate}}</span>
  <a class="popular-in-location-name" ng-href="#!/tracks/{{track.id}}">{{track.name}}</a>
  <a class="popular-in-location-address" ng-href="#!/tracks/{{track.id}}">
    <img src="assets/img/places/marker/green.png">
    {{track.places[0].address}}
  </a>
</div>
