<div class="parallax">
  <div class="parallax-background-opacity"></div>
  <div class="parallax-title">
    <h2>Find. Plan. Travel</h2>
  </div>
  <a href="#main-page-content">
    <i class="fa fa-angle-down" aria-hidden="true"></i>
  </a>
</div>

<div class="container" id="main-page-content">
  <div class="row">
    <div class="col-md-6 welcome-page-section-img">
      <img src="/assets/img/welcome-page/m1.jpg">
    </div>
    <div class="col-md-6 welcome-page-section-text"
         style="">
      <h2><a href="#">Find place</a></h2>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis, magna
          sed aliquet volutpat, est sem aliquet felis, et porta odio sapien quis dolor. Proin eleifend commodo mauris
          nec bibendum. Pellentesque posuere interdum turpis, ac rhoncus enim tincidunt at. Pellentesque porta pulvinar
          egestas. Fusce at purus quis nibh iaculis fringilla. Maecenas aliquam nibh dui, sed elementum quam sodales
          non. Pellentesque finibus et mauris nec commodo. Cras placerat augue vel tellus accumsan venenatis. Morbi
          mollis pharetra ligula vel volutpat. Pellentesque vulputate fermentum ligula, vel faucibus risus efficitur ut.
          Integer ac tortor diam."</p>
        <div class="col-md-12">
          <a href="#" >Go to search</a>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 welcome-page-section-text">
      <h2><a href="#">Plan your track</a></h2>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis, magna sed
        aliquet volutpat, est sem aliquet felis, et porta odio sapien quis dolor. Proin eleifend commodo mauris nec
        bibendum. Pellentesque posuere interdum turpis, ac rhoncus enim tincidunt at. Pellentesque porta pulvinar
        egestas. Fusce at purus quis nibh iaculis fringilla. Maecenas aliquam nibh dui, sed elementum quam sodales non.
        Pellentesque finibus et mauris nec commodo. Cras placerat augue vel tellus accumsan venenatis. Morbi mollis
        pharetra ligula vel volutpat. Pellentesque vulputate fermentum ligula, vel faucibus risus efficitur ut. Integer
        ac tortor diam."</p>
        <div class="col-md-12">
          <a href="#">Go to search</a>
        </div>
    </div>
    <div class="col-md-6 welcome-page-section-img">
      <img src="/assets/img/welcome-page/m2.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 welcome-page-section-img">
      <img src="/assets/img/welcome-page/m3.jpg">
    </div>
    <div class="col-md-6 welcome-page-section-text">
      <h2><a href="#">Fun on events</a></h2>
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis, magna sed
        aliquet volutpat, est sem aliquet felis, et porta odio sapien quis dolor. Proin eleifend commodo mauris nec
        bibendum. Pellentesque posuere interdum turpis, ac rhoncus enim tincidunt at. Pellentesque porta pulvinar
        egestas. Fusce at purus quis nibh iaculis fringilla. Maecenas aliquam nibh dui, sed elementum quam sodales non.
        Pellentesque finibus et mauris nec commodo. Cras placerat augue vel tellus accumsan venenatis. Morbi mollis
        pharetra ligula vel volutpat. Pellentesque vulputate fermentum ligula, vel faucibus risus efficitur ut. Integer
        ac tortor diam."</p>
        <div class="col-md-12">
          <a href="#">Go to search</a>
        </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 welcome-page-section-img">
      <img src="/assets/img/welcome-page/m1.jpg" title="" alt="">
      <p class="welcome-page-section-img-name"><a href="#">Some name of place</a></p>
      <p class="welcome-page-section-img-location"><a href="#">Location</a></p>

    </div>
    <div class="col-md-6 welcome-page-section-img">
      <img src="/assets/img/welcome-page/m2.jpg" title="" alt="">
      <p class="welcome-page-section-img-name"><a href="#">Some name of place</a></p>
      <p class="welcome-page-section-img-location"><a href="#">Location</a></p>
    </div>
  </div>
</div>
