<!-- Carousel -->
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- Wrapper for slides -->
        <div class="textOnPix">
            <div class="hidden-xs col-md-9 col-sm-9">
                <p>

                <h1>Some text here</h1></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis, magna sed aliquet
                    volutpat, est sem aliquet felis, et porta odio sapien quis dolor. Proin eleifend commodo mauris nec
                    bibendum. Pellentesque posuere interdum turpis, ac rhoncus enim tincidunt at. Pellentesque porta
                    pulvinar egestas. Fusce at purus quis nibh iaculis fringilla. Maecenas aliquam nibh dui, sed
                    elementum quam sodales non. Pellentesque finibus et mauris nec commodo. Cras placerat augue vel
                    tellus accumsan venenatis. Morbi mollis pharetra ligula vel volutpat. Pellentesque vulputate
                    fermentum ligula, vel faucibus risus efficitur ut. Integer ac tortor diam.</p>
            </div>
            <div class="input-group col-xs-12 col-sm-3 col-md-3">
                <input type="text" class="form-control" placeholder="Pick a username">
                <input type="text" class="form-control" placeholder="Your email adress">
                <input type="text" class="form-control" placeholder="Your password">
                <button class="inputButton">Sign up for Green Tourism</button>
            </div>
        </div>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="assets/img/welcome-page/img_main1.jpg" alt="Ukraine">
            </div>

            <div class="item">
                <img src="assets/img/welcome-page/img_main2.jpg" alt="Rivne">
            </div>

            <div class="item">
                <img src="assets/img/welcome-page/img_main3.jpg" alt="Flower">
            </div>

            <div class="item">
                <img src="assets/img/welcome-page/img_main4.jpg" alt="Flower">
            </div>

            <div class="item">
                <img src="assets/img/welcome-page/img_main5.jpg" alt="Flower">
            </div>

            <div class="item">
                <img src="assets/img/welcome-page/img_main6.jpg" alt="Flower">
            </div>
        </div>
    </div>
    <div class="container-fluid main-centr">
        <div class="centrBoldText">Our fitures</div>
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <div class="green-block">
                        <div class="img-block">
                            <img src="assets/img/welcome-page/img_main5.jpg" alt="img1" class="img-circle"></div>
                        <div class="panel-title">Places</div>
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis, magna sed
                            aliquet volutpat,
                            est sem aliquet felis, et porta odio sapien quis dolor. Proin eleifend commodo mauris nec
                            bibendum.
                            Pellentesque posuere interdum turpis, ac rhoncus enim tincidunt at. Pellentesque porta
                            pulvinar egestas.
                            Fusce at purus quis nibh iaculis fringilla. Maecenas aliquam nibh dui, sed elementum quam
                            sodales non.
                            Pellentesque finibus et mauris nec commodo.
                            Cras placerat augue vel tellus accumsan venenatis. Morbi mollis pharetra ligula vel
                            volutpat.
                            Pellentesque vulputate fermentum ligula, vel faucibus risus efficitur ut. Integer ac tortor
                            diam.
                        </div>
                        </div>
                </div>
            <div class="col-xs-12 col-md-4">
                <div class="green-block">
                    <div class="img-block">
                        <img src="assets/img/welcome-page/img_main3.jpg" alt="img1" class="img-circle"></div>
                    <div class="panel-title">Tracs</div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis, magna sed
                        aliquet volutpat,
                        est sem aliquet felis, et porta odio sapien quis dolor. Proin eleifend commodo mauris nec
                        bibendum.
                        Pellentesque posuere interdum turpis, ac rhoncus enim tincidunt at. Pellentesque porta
                        pulvinar egestas.
                        Fusce at purus quis nibh iaculis fringilla. Maecenas aliquam nibh dui, sed elementum quam
                        sodales non.
                        Pellentesque finibus et mauris nec commodo.
                        Cras placerat augue vel tellus accumsan venenatis. Morbi mollis pharetra ligula vel
                        volutpat.
                        Pellentesque vulputate fermentum ligula, vel faucibus risus efficitur ut. Integer ac tortor
                        diam.
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="green-block">
                    <div class="img-block">
                        <img src="assets/img/welcome-page/img_main2.jpg" alt="img1" class="img-circle">
                    </div>
                    <div class="panel-title">Events</div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent venenatis, magna sed
                        aliquet volutpat,
                        est sem aliquet felis, et porta odio sapien quis dolor. Proin eleifend commodo mauris nec
                        bibendum.
                        Pellentesque posuere interdum turpis, ac rhoncus enim tincidunt at. Pellentesque porta
                        pulvinar egestas.
                        Fusce at purus quis nibh iaculis fringilla. Maecenas aliquam nibh dui, sed elementum quam
                        sodales non.
                        Pellentesque finibus et mauris nec commodo.
                        Cras placerat augue vel tellus accumsan venenatis. Morbi mollis pharetra ligula vel
                        volutpat.
                        Pellentesque vulputate fermentum ligula, vel faucibus risus efficitur ut. Integer ac tortor
                        diam.
                    </div>
                </div>
            </div>
            </div>
        </div>

        <div class="panel-title">Most popular places</div>

        <div class="container-fluid main-centr">
            <div class="row">
                <div class="col-xs-4 col-md-2">
                    <div class="green-places">
                        <div class="img-block">
                            <img src="assets/img/welcome-page/img_main2.jpg" alt="img1" class="img-circle">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2">
                    <div class="green-places">
                        <div class="img-block">
                            <img src="assets/img/welcome-page/img_main3.jpg" alt="img1" class="img-circle">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2">
                    <div class="green-places">
                        <div class="img-block">
                            <img src="assets/img/welcome-page/img_main4.jpg" alt="img1" class="img-circle">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2">
                    <div class="green-places">
                        <div class="img-block">
                            <img src="assets/img/welcome-page/img_main1.jpg" alt="img1" class="img-circle">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2">
                    <div class="green-places">
                        <div class="img-block">
                            <img src="assets/img/welcome-page/img_main6.jpg" alt="img1" class="img-circle">
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-md-2">
                    <div class="green-places">
                        <div class="img-block">
                            <img src="assets/img/welcome-page/img_main2.jpg" alt="img1" class="img-circle">
                        </div>
                    </div>
                </div>
            </div>
        </div>
