<section class="blog-admin-page">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <form>
          <div class="form-group">
            <label for="title">Photo</label>
            <input type="text" class="form-control" id="photo" placeholder="photo">
          </div>
          <div class="form-group">
            <label for="category">Category</label>
            <select class="form-control" id="category">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="title">title</label>
            <input type="text" class="form-control" id="title" placeholder="title">
          </div>
          <div class="form-group">
            <label for="content">content</label>
            <textarea class="form-control" rows="3" name="content" id="content"></textarea>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>

      </div>
    </div>
  </div>
</section>