<div class="container comment">
  <div class="row media add-comment" ng-if="$ctrl.currentUser">
    <div class="media-left">
      <img class="media-object" ng-src="{{$ctrl.currentUser.avatar}}"
           alt="{{$ctrl.currentUser.fullName}}">
    </div>

    <div class="row media-body">
      <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
        <textarea ng-keyup="$ctrl.textareaPostResize()" class="form-control"
                  required placeholder="Leave your comment..." maxlength="1000"
                  ng-model="$ctrl.content"></textarea>
        <p ng-if="$ctrl.content" class="pull-right">
          Left: {{1000 - $ctrl.content.length}} symbols
        </p>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 add-comment-button">
        <button type="button" ng-disabled="!$ctrl.content"
                ng-click="$ctrl.addComment($ctrl.content)">Post</button>
      </div>
    </div>
  </div>
  <div class="alert alert-info" ng-if="!$ctrl.currentUser">
    Please, login for comment, update or delete message!
  </div>
  <div class="alert alert-danger" ng-if="$ctrl.showError">
    Post failed. Please, reload this page and try again!
    Error: {{$ctrl.showError}}
  </div>

  <div class="row media show-comments"
      ng-repeat="comment in $ctrl.inputObject.comments | orderBy:'-createdAt'">
    <div class="confirm-remove well well-sm" ng-if="$ctrl.showConfirm &&
                $ctrl.currentUser._id === comment.author._id &&
                $ctrl.checkCommentId1 === comment._id">
      <p>Are you sure?</p>
      <div class="btn-group">
        <button class="btn btn-default btn-xs" type="button"
                ng-click="$ctrl.removeComment(comment._id)">Yes</button>
        <button class="btn btn-default btn-xs" type="button"
                ng-click="$ctrl.showConfirm = false">No</button>
      </div>
    </div>
    <div class="media-left">
      <img class="media-object" ng-src="{{comment.author.avatar}}"
           alt="{{comment.author.fullName}}">
    </div>

    <div class="media-body text-justify show-comments-content">
      <h5 class="media-heading">{{comment.author.fullName}}</h5>

      <a href="" ng-click="$ctrl.showConfirmMessage(comment._id)"
         ng-if="$ctrl.currentUser._id === comment.author._id"
         class="pull-right" title="Remove">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
      </a>
      <a href="" ng-click="$ctrl.showEditingMode(comment._id, comment.content)"
         ng-if="$ctrl.currentUser._id === comment.author._id"
         class="pull-right" title="Edit">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </a>

      <p ng-if="!($ctrl.checkCommentId === comment._id)">{{comment.content}}</p>
      <div ng-if="$ctrl.checkCommentId === comment._id">
        <textarea ng-keyup="$ctrl.textareaEditResize()"
                  class="form-control edit-textarea"
                  required maxlength="1000" ng-model="comment.content">
          {{comment.content}}
        </textarea>
        <div class="btn-group pull-right">
          <button ng-click="$ctrl.checkCommentId = null;
                          comment.content = $ctrl.defaultCommentContent"
                  type="button" class="btn btn-default">Close
          </button>
          <button type="button"
                  ng-click="$ctrl.updateComment(comment._id, comment.content)"
                  class="btn btn-default" ng-disabled="!comment.content">Update
          </button>
        </div>
      </div>
      <p>Added: {{comment.createdAt | date:'yyyy-MM-dd HH:mm'}}</p>
    </div>
  </div>
</div>

