<div class="blog-item-page">
  <section class="blog-page-content">
    <div class="container">
      <div class="row">
        <article>
          <div class="col-md-8">
            <div class="blog-wrapper">
              <img ng-src="{{$ctrl.blog.blogPhoto.url}}" alt="{{$ctrl.blog.title}}">

              <div class="">
                <div class="blog-details">
                  <ul>
                    <li>By
                      <span class="blog-author">
                        <a ng-href="#!/blog/owner/{{blog.owner.id}}" title="Posts by admin" rel="author">{{$ctrl.blog.owner.fullName}}</a>
                      </span>
                    </li>
                    <li>
                      <span class="blog-date">
                        {{$ctrl.blog.createdAt | date:'dd MMMM yyyy'}}
                      </span>
                    </li>
                    <li>Category:
                      <a ng-href="#" class="blog-category">{{$ctrl.blog.category.name}}</a>
                    </li>
                    <li>
                      {{$ctrl.blog.blogComments.length}} Comments
                    </li>
                    <li class="pull-right likes-container">
                      {{$ctrl.blog.blogLikes.length}}
                      <a ng-click="$ctrl.likesToggle()" ng-disabled="!$ctrl.currentUser" class="likes disabled">
                        <span class="glyphicon glyphicon-heart" aria-hidden="true">
                        </span>
                      </a>
                    </li>
                  </ul>
                </div>
                <h2 class="blog-title">
                  {{$ctrl.blog.title}}
                </h2>

                <div class="blog-content">
                  {{$ctrl.blog.content}}
                </div>
                <section class="related-posts">

                    <div class="row">
                      <div class="col-md-3">
                        <h3 class="title-heading">
                          Related Posts
                        </h3>
                      </div>
                      <div class="col-md-9">
                        <div class="title-sep"></div>
                      </div>
                      </div>
                      <div class="row">
                        <div class="fusion-title">
                          <div class="col-md-4 col-sm-4 col-xs-4" ng-repeat="related in $ctrl.relatedPost | limitTo: 3">

                            <div class="media blog-aside-items ng-scope">
                                <a href="#!/blog/{{related.id}}" class="pull-left">
                                <img alt="{{related.title}}" ng-src="{{related.blogPhoto.url}}" class="media-object"
                                     style="width:50px;height:50px;"/>
                              </a>
                              <div class="media-body">
                                <h4 class="media-heading">
                                  <a href="#!/blog/{{related.id}}">
                                    {{related.title}}
                                  </a>
                                </h4>
                                <div class="media-date ng-binding">
                                  {{related.createdAt | date:'dd MMMM yyyy'}}
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                </section>
                <blog-comments blogcomment="$ctrl.blog.blogComments" blogid="$ctrl.blog.id"></blog-comments>
              </div>
            </div>
          </div>
        </article>
        <aside>
          <div class="col-md-offset-1 col-md-3 col-sm-4 hidden-xs">
            <div class="row">
              <div class="col-md-12">
                <blog-sidebar></blog-sidebar>
              </div>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </section>

</div>
