<div class="container user-page">
  <div class="row">
    <section class="col-md-3 user-page__sidebar">
      <div class="user-page__avatar">
        <img ng-src="{{$ctrl.user.avatar}}" alt="User profile picture" class="img-rounded img-responsive"
        />
        <button type="button" class="btn btn-default" ng-click="$ctrl.changeAvatar()">Change</button>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li ng-class="{ active: $ctrl.isSelected(1) }">
          <a href="" ng-click="$ctrl.selectTab(1)">Profile</a>
        </li>
        <li ng-class="{ active: $ctrl.isSelected(2) }">
          <a href="" ng-click="$ctrl.selectTab(2)">My Points</a>
        </li>
        <li ng-class="{ active: $ctrl.isSelected(3) }">
          <a href="" ng-click="$ctrl.selectTab(3)">My Tracks</a>
        </li>
        <li ng-class="{ active: $ctrl.isSelected(4) }">
          <a href="" ng-click="$ctrl.selectTab(4)">Favorite Events</a>
        </li>
      </ul>
    </section>
    <section class="col-md-9">
      <div ng-show="$ctrl.isSelected(1)">
        <h1 class="page-header">Profile</h1>
        <div ng-hide="$ctrl.editMode">
          <h3>{{$ctrl.user.firstName}} {{$ctrl.user.lastName}}</h3>
          <p>{{$ctrl.user.email}}</p>
          <button type="button" class="btn btn-default" ng-click="$ctrl.toggleEditMode()">Edit</button>
        </div>
        <div ng-show="$ctrl.editMode">
          <form name="form" role="form" novalidate ng-submit="$ctrl.editUser()">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="$ctrl.editedUser.firstName" name="firstName"
                    placeholder="First name" required="" />
                  <p class="help-block">Help text here.</p>
                </div>
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="$ctrl.editedUser.lastName" name="lastName"
                    placeholder="Last name" required="" />
                  <p class="help-block">Help text here.</p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="email" class="form-control" ng-model="$ctrl.editedUser.email" name="email"
                placeholder="Email" required="" />
              <p class="help-block">Help text here.</p>
            </div>

            <div class="form-group">
              <input type="password" class="form-control" ng-model="$ctrl.editedUser.password"
                name="password" placeholder="Password" required="" />
              <p class="help-block">Help text here.</p>
            </div>

            <button type="button" class="btn btn-default" ng-click="$ctrl.toggleEditMode()">Cancel</button>
            <input type="submit" class="btn btn-default" value="Change" />
          </form>
        </div>
      </div>
      <div ng-show="$ctrl.isSelected(2)">
        <h1 class="page-header">My Points</h1>
      </div>
      <div ng-show="$ctrl.isSelected(3)">
        <h1 class="page-header">My Tracks</h1>
      </div>
      <div ng-show="$ctrl.isSelected(4)">
        <h1 class="page-header">Favorite Events</h1>
      </div>
    </section>
  </div>
</div>
