<div class="row place">
  <div class="col-xs-12 col-lg-12 col-md-12">
    <div class="closeMap">
      <button ng-if="!isClosed" ng-click="$ctrl.hideMap()" type="button" class="btn btn-default btn-md">CLOSE MAP
      </button>
      <button ng-if="isClosed" ng-click="$ctrl.openMap()" type="button" class="btn btn-default btn-md">OPEN MAP
      </button>
    </div>
    <div class="row vertical-align">
      <div class="col-xs-4 no-padding">

        <p class="text-left">
          <button type="button" class="btn btn-default btn-lg like">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Like 124
          </button>
        </p>
      </div>
      <div class="col-xs-4 no-padding">

      </div>
      <div class="col-xs-4 no-padding">
        <i class="fa fa-times fa-3x  pull-right close" aria-hidden="true" id="close" ng-click="$ctrl.closePage()"></i>
      </div>
    </div>
    <div class=row">
      <div class="col-xs-12">
        <h2 class="title text-center">{{$ctrl.place.name}} </h2>
      </div>
      <div id="map1" ng-class="mapClass">

      </div>
    </div>
  </div>
  <div class="container_page">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-xs-12">
        <p>{{$ctrl.place.description}}</p>
        <comment input-object="$ctrl.place" input-object-type="'places'"></comment>

      </div>
      <div class="col-lg-4 col-md-4 col-xs-12 gallery">
        <a id="firstimg" class="fancybox" rel="gallery1" ng-href="{{$ctrl.place.photos[0]}}">
          <img ng-src="{{$ctrl.place.photos[0]}}" alt="{{$ctrl.place.name}}"/>
        </a>

        <!--
          <a ng-repeat="photo in $ctrl.place.photos" ng-if="$index>=1" class="fancybox" rel="gallery1"
             href="{{photo}}" title="{{$ctrl.place.name}}">
            <img src="assets/{{photo}}" alt="{{$ctrl.place.name}}"/>
        </a>
        <!-- to delete- it is for demonstrate without data about other photo in DB -->
        <a class="fancybox" rel="gallery1" href="assets/img/places/new_1.jpg">
          <img src="assets/img/places/new_1.jpg"/>
        </a>

        <a class="fancybox" rel="gallery1" href="http://rvavto.com.ua/images/oak.jpg">
          <img src="http://rvavto.com.ua/images/oak.jpg"/>
        </a>
        <a class="fancybox" rel="gallery1" href="assets/img/places/new_1.jpg">
          <img src="assets/img/places/new_1.jpg"/>
        </a>

        <a class="fancybox" rel="gallery1" href="assets/img/places/tonnel-lubvi-foto-3.jpg">
          <img src="assets/img/places/tonnel-lubvi-foto-3.jpg"/>
        </a>

        <a class="fancybox" rel="gallery1" href="assets/img/places/new2.jpg">
          <img src="assets/img/places/new2.jpg"/>
        </a>

        <a class="fancybox" rel="gallery1" href="assets/img/places/tonnel-lubvi-foto-3.jpg">
          <img src="assets/img/places/tonnel-lubvi-foto-3.jpg"/>
        </a>

        <!-- to delete- it is for demonstrate without data in DB -->
      </div>
    </div>
  </div>
</div>

