<div class="signhead">
  <h4 class="text-center">Green tourism</h4>
  <span class="fa fa-circle fa-2x circleuser"></span>
  <span class="fa fa-user fa-2x user text-center"></span>
  <h6 id="informlog" class="text-center">
    <a href="" ng-click="$ctrl.form = 'login'" class="link">Login</a> or
    <a href="" ng-click="$ctrl.form = 'signup'" class="link">Signup</a>
  </h6>
</div>

<div ng-include="'components/user/auth/login.template.html'"
    ng-show="$ctrl.form === 'login'"></div>
<div ng-include="'components/user/auth/signup.template.html'"
    ng-show="$ctrl.form === 'signup'"></div>

<div class="container registration" ng-show="$ctrl.form === 'forgot'">
  <form role="form" name="forgot" method="POST" action="api/forgot" novalidate>
    <div class="form-group input-group-sm">
      <label for="email">E-mail:</label>
      <input type="email" name="email" class="form-control"
          ng-pattern="/^[\w][\w\.\-]+@[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)+$/"
          ng-model="user.email" required>
      <p class="text-danger" ng-show="forgot.email.$touched &&
          forgot.email.$error.pattern">Invalid email</p>
      <p class="text-danger" ng-show="forgot.email.$touched &&
          forgot.email.$error.required">Email is required</p>
    </div>

    <input type="submit" class="btn btn-success btn-block submit-btn"
        ng-disabled="forgot.$invalid" value="Send email confirmation" />
  </form>
</div>
