<div class="row place">
    <div class="modal-body">
        <div class="center-block">
            <button class="btn btn-warning" type="button" ng-click="$ctrl.handleClose()">Close Modal</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.handleDismiss()">Dimiss Modal</button> </div>
    </div>
    <h2 class="titlem text-center">{{$ctrl.modalData.name}}   </h2>
    <h3>Place:{{$ctrl.placeid}}</h3>


    <div class="col-xs-3">

        <img ng-repeat="photo in $ctrl.modalData.photo" id="myImage{{$index}}"   src="assets/{{photo}}" alt="{{$ctrl.modalData.name}}"  />
        <button type="button" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> Like
        </button>
    </div>
    <div  class="col-xs-9" >
        <div class="row">
            <div class="col-xs-12">
                <p>{{$ctrl.modalData.description}}</p>
                <br>
                <br>

                <form>
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea class="form-control" id="comment" rows="3"></textarea>
                    </div>

                    <button type="submit" class="btn btn-default">Add Comment</button>
                </form>
                <br>
                <br>
                <div class="pull-left"><img src="assets/img/user-profile/anderson.jpeg" alt="Aniston" class="img-circle  profile" /></div>
                <p>Comment1 Comment1 Comment1 Comment1 Comment1 Comment1 Comment1 Comment1 Comment1 Comment1 Comment1 Comment1 Comment1 Comment1 Comment1 Comment1</p>

                <div class="pull-left"><img src="assets/img/user-profile/anderson.jpeg" alt="Aniston" class="img-circle  profile" /></div>
                <p>Comment2 Comment2  Comment2  Comment2  Comment2  Comment2  Comment2 Comment2 Comment2 Comment2 Comment2 Comment2 Comment2 Comment2 Comment2 Comment2 Comment2 </p>
            </div>

        </div>
      <!--  <div class="center-block">

            <label>Name To Edit</label>
            <input ng-model="$ctrl.modalData.name"><br>
            <label>Value To Edit</label>
            <input ng-model="$ctrl.modalData.type"><br>
        </div> -->

