<section class="blog-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Blog</h1>
            </div>
        </div>
    </div>
</section>
<section class="blog-page-content">
    <div class="container">
        <div class="row">
            <article>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="thumbnail blog-list-item">
                                <img src="assets/img/blog/blog.jpg" alt="...">

                                <div class="caption">
                                    <h3 class="blog-title">
                                        <a href="#">Blog Post Title</a>
                                    </h3>

                                    <div class="blog-details">
                                        By
                        <span class="blog-author">
                            <a href="#" title="Posts by admin" rel="author">admin</a>
                        </span>
                                        <span class="blog-date">May 23rd 2016</span>
                                        <a href="#" class="blog-category">Tourizm</a>
                                    </div>
                                    <div class="blog-separator"></div>

                                    <div class="blog-content">
                                        Here will be some short description ...
                                        Here will be some short description ...
                                        Here will be some short description ...
                                        Here will be some short description
                                    </div>

                                    <p class="blog-meta">
                                        <a href="#" class="blog-read-more">Read more
                                            <i class="fa fa-book" aria-hidden="true"></i>
                                        </a>
                                        <a href="#comments" class="pull-right">
                                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                                            2
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="thumbnail blog-list-item">
                                <img src="assets/img/blog/blog.jpg" alt="...">

                                <div class="caption">
                                    <h3 class="blog-title">
                                        <a href="#">Blog Post Title</a>
                                    </h3>

                                    <div class="blog-details">
                                        By
                        <span class="blog-author">
                            <a href="#" title="Posts by admin" rel="author">admin</a>
                        </span>
                                        <span class="blog-date">May 23rd 2016</span>
                                        <a href="#" class="blog-category">Tourizm</a>
                                    </div>
                                    <div class="blog-separator"></div>

                                    <div class="blog-content">
                                        Here will be some short description ...
                                        Here will be some short description ...
                                        Here will be some short description ...
                                        Here will be some short description
                                    </div>

                                    <p class="blog-meta">
                                        <a href="#" class="blog-read-more">Read more
                                            <i class="fa fa-book" aria-hidden="true"></i>
                                        </a>
                                        <a href="#comments" class="pull-right">
                                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                                            2
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="thumbnail blog-list-item">
                                <img src="assets/img/blog/blog.jpg" alt="...">

                                <div class="caption">
                                    <h3 class="blog-title">
                                        <a href="#">Blog Post Title</a>
                                    </h3>

                                    <div class="blog-details">
                                        By
                        <span class="blog-author">
                            <a href="#" title="Posts by admin" rel="author">admin</a>
                        </span>
                                        <span class="blog-date">May 23rd 2016</span>
                                        <a href="#" class="blog-category">Tourizm</a>
                                    </div>
                                    <div class="blog-separator"></div>

                                    <div class="blog-content">
                                        Here will be some short description ...
                                        Here will be some short description ...
                                        Here will be some short description ...
                                        Here will be some short description
                                    </div>

                                    <p class="blog-meta">
                                        <a href="#" class="blog-read-more">Read more
                                            <i class="fa fa-book" aria-hidden="true"></i>
                                        </a>
                                        <a href="#comments" class="pull-right">
                                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                                            2
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <aside>
                <div class="col-md-offset-1 col-md-3 col-sm-4 hidden-xs">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-find">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search blog">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                  </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-category-list">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Categories</h3>
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-bicycle" aria-hidden="true"></i>
                                                    Category
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-bicycle" aria-hidden="true"></i>
                                                    Category
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-bicycle" aria-hidden="true"></i>
                                                    Category
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-bicycle" aria-hidden="true"></i>
                                                    Category
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-bicycle" aria-hidden="true"></i>
                                                    Category
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="blog-panel">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tabbable" id="tabs-blog">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#panel-popular" data-toggle="tab">
                                                        Popular
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#panel-recent" data-toggle="tab">
                                                        Recent
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane " id="panel-popular">
                                                    <div class="media blog-aside-items">
                                                        <a href="#" class="pull-left">
                                                            <img alt="Bootstrap Media Preview" src="assets/img/blog/blog.jpg" class="media-object"/>
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#">
                                                                    Blog title
                                                                </a>
                                                            </h4>
                                                            <div class="media-date">
                                                                May 23 2016
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="media blog-aside-items">
                                                        <a href="#" class="pull-left">
                                                            <img alt="Bootstrap Media Preview" src="assets/img/blog/blog.jpg" class="media-object"/>
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#">
                                                                    Blog title
                                                                </a>
                                                            </h4>
                                                            <div class="media-date">
                                                                May 23 2016
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="media blog-aside-items">
                                                        <a href="#" class="pull-left">
                                                            <img alt="Bootstrap Media Preview" src="assets/img/blog/blog.jpg" class="media-object"/>
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#">
                                                                    Blog title
                                                                </a>
                                                            </h4>
                                                            <div class="media-date">
                                                                May 23 2016
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane active" id="panel-recent">
                                                    <div class="media blog-aside-items">
                                                        <a href="#" class="pull-left">
                                                            <img alt="Bootstrap Media Preview" src="assets/img/blog/blog.jpg" class="media-object"/>
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#">
                                                                    Blog title
                                                                </a>
                                                            </h4>
                                                            <div class="media-date">
                                                                May 23 2016
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="media blog-aside-items">
                                                        <a href="#" class="pull-left">
                                                            <img alt="Bootstrap Media Preview" src="assets/img/blog/blog.jpg" class="media-object"/>
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#">
                                                                    Blog title
                                                                </a>
                                                            </h4>
                                                            <div class="media-date">
                                                                May 23 2016
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="media blog-aside-items">
                                                        <a href="#" class="pull-left">
                                                            <img alt="Bootstrap Media Preview" src="assets/img/blog/blog.jpg" class="media-object"/>
                                                        </a>
                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#">
                                                                    Blog title
                                                                </a>
                                                            </h4>
                                                            <div class="media-date">
                                                                May 23 2016
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>