<section class="blog-page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Blog</h1>
            </div>
        </div>
    </div>
</section>
<section class="blog-page-content">
    <div class="container">
        <div class="row">
            <article>
                <div class="col-md-8">
                    <div class="row">

                        <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="blog in $ctrl.blogs | filter:$ctrl.query | orderBy:$ctrl.dateProp" >
                            <div class="thumbnail blog-list-item">
                                <a href="#/blog/{{blog.id}}">
                                    <img ng-src="{{blog.images}}" alt="{{blog.title}}">
                                </a>

                                <div class="caption">
                                    <h3 class="blog-title">
                                        <a href="#">{{blog.title}}</a>
                                    </h3>

                                    <div class="blog-details">
                                        By
                        <span class="blog-author">
                            <a href="#" title="Posts by admin" rel="author">{{blog.author}}</a>
                        </span>
                                        <span class="blog-date">{{blog.date}}</span>
                                        <a href="#" class="blog-category">{{blog.category}}</a>
                                    </div>
                                    <div class="blog-separator"></div>

                                    <div class="blog-content">
                                        {{blog.content}}
                                    </div>

                                    <p class="blog-meta">
                                        <a href="#/blog/{{blog.id}}" class="blog-read-more">Read more
                                            <i class="fa fa-book" aria-hidden="true"></i>
                                        </a>
                                        <a href="#/blog/{{blog.id}}" class="pull-right">
                                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                                            2
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <aside>
                <div class="col-md-offset-1 col-md-3 col-sm-4 hidden-xs">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="blog-find">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <input ng-model="$ctrl.query" type="text" class="form-control" placeholder="Search blog">
                                  <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                  </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-category-list">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h3>Categories</h3>
                                        <ul>
                                            <li ng-repeat="category in $ctrl.blogs | orderBy: $ctrl.categoryProp | unique: $ctrl.categoryProp  ">
                                                <a href="#" ng-click="selectCategory(item)">
                                                    <i class="fa fa-bicycle" aria-hidden="true"></i>
                                                    {{category}}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="blog-panel">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="tabbable" id="tabs-blog">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a href="#panel-popular" data-toggle="tab">
                                                        Popular
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#panel-recent" data-toggle="tab">
                                                        Recent
                                                    </a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="panel-popular">
                                                    <div class="media blog-aside-items" ng-repeat="blog in $ctrl.blogs | orderBy:$ctrl.dateProp | limitTo:3">
                                                        <a href="#/blog/{{blog.id}}" class="pull-left">
                                                            <img alt="{{blog.title}}"
                                                                 ng-src="{{blog.images}}" class="media-object"/>
                                                        </a>

                                                        <div class="media-body">
                                                            <h4 class="media-heading">
                                                                <a href="#/blog/{{blog.id}}">
                                                                    {{blog.title}}
                                                                </a>
                                                            </h4>

                                                            <div class="media-date">
                                                                {{blog.date}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<div class="tab-pane active" id="panel-recent">-->
                                                    <!--<div class="media blog-aside-items">-->
                                                        <!--<a href="#" class="pull-left">-->
                                                            <!--<img alt="Bootstrap Media Preview"-->
                                                                 <!--src="assets/img/blog/blog.jpg" class="media-object"/>-->
                                                        <!--</a>-->

                                                        <!--<div class="media-body">-->
                                                            <!--<h4 class="media-heading">-->
                                                                <!--<a href="#">-->
                                                                    <!--Blog title-->
                                                                <!--</a>-->
                                                            <!--</h4>-->

                                                            <!--<div class="media-date">-->
                                                                <!--May 23 2016-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                    <!--<div class="media blog-aside-items">-->
                                                        <!--<a href="#" class="pull-left">-->
                                                            <!--<img alt="Bootstrap Media Preview"-->
                                                                 <!--src="assets/img/blog/blog.jpg" class="media-object"/>-->
                                                        <!--</a>-->

                                                        <!--<div class="media-body">-->
                                                            <!--<h4 class="media-heading">-->
                                                                <!--<a href="#">-->
                                                                    <!--Blog title-->
                                                                <!--</a>-->
                                                            <!--</h4>-->

                                                            <!--<div class="media-date">-->
                                                                <!--May 23 2016-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                    <!--<div class="media blog-aside-items">-->
                                                        <!--<a href="#" class="pull-left">-->
                                                            <!--<img alt="Bootstrap Media Preview"-->
                                                                 <!--src="assets/img/blog/blog.jpg" class="media-object"/>-->
                                                        <!--</a>-->

                                                        <!--<div class="media-body">-->
                                                            <!--<h4 class="media-heading">-->
                                                                <!--<a href="#">-->
                                                                    <!--Blog title-->
                                                                <!--</a>-->
                                                            <!--</h4>-->

                                                            <!--<div class="media-date">-->
                                                                <!--May 23 2016-->
                                                            <!--</div>-->
                                                        <!--</div>-->
                                                    <!--</div>-->
                                                <!--</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</section>

<!--<ul>-->
    <!--<li ng-repeat="blog in $ctrl.blogs | orderBy:$ctrl.orderProp">-->
        <!--<a href="#/blog/{{blog.id}}">-->
            <!--<img ng-src="{{blog.images}}" alt="">-->
        <!--</a>-->
        <!--<span>{{blog.title}} + {{blog.date}}</span>-->

        <!--<p>{{blog.content}}</p>-->
    <!--</li>-->
<!--</ul>-->
