<div class="signhead">
  <h5 class="logotype">Green tourism</h5>
  <span class="fa fa-circle fa-5x circleuser"></span>
  <span class="fa fa-user fa-5x user"></span>
  <h5 id="informlog">
    <a href="" ng-click="signup=!signup" class="link">login</a>
    or
    <a href="" ng-click="signup=!signup" class="link">Signup</a>
  </h5>
</div>

<div class="container login">
  <form role="form" name="login" novalidate method="POST" action="/api/login">
    <div class="form-group email">
      <label for="email">E-mail</label>
      <input type="email" name="email" class="form-control" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/" ng-model="$ctrl.user.email" required>
      <p class="help-block error" ng-show="login.email.$touched && (login.email.$invalid && login.email.$dirty)">
        <span ng-show="login.email.$error.pattern">Please input correct email</span>
        <span ng-show="login.email.$error.required">Email is required</span>
      </p>
    </div>
    <div class="form-group password">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" ng-model="$ctrl.user.password" required>
      <p class="help-block error" ng-show="login.password.$touched && login.password.$dirty">
        <span ng-show="login.password.$touched && login.password.$error.required">Password is required</span>
      </p>
    </div>
    <input type="submit" class="btn btn-success btn-block submit-btn" value="Login" />
  </form>

  <hr/>
  <a class="btn btn-block btn-social btn-facebook">
    <span class="fa fa-facebook"></span>Login with facebook</a>
  <hr/>
  <a class="btn btn-block btn-social btn-google">
    <span class="fa fa-google"></span>Login with google</a>
</div>

<div ng-show="signup">
  <signup></signup>
</div>
