<!-- div class="container col-xs-12 col-md-6 centered forms" -->
<div class="container">
	<div class="well well-sm">
		<h2>Green tourism</h2>
		<h5 class="error">{{$ctrl.message}}</h5>
	</div>
  <!-- ng-submit="$ctrl.login($ctrl.user)" -->
	<form class="well well-sm" role="form" name="login" novalidate method="POST" action="/api/login">
    <div class="form-group">
  		<div class="input-group">
        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
  			<input type="email" name="email" class="form-control"  ng-model="$ctrl.user.email" placeholder="Email" required>
      </div>
      <p class="help-block error" ng-show="login.email.$invalid && login.email.$dirty">
        <span ng-show="login.email.$error.email">Please input correct email</span>
        <span ng-show="login.email.$error.required">Email is required</span>
      </p>
    </div>

    <div class="form-group">
  		<div class="input-group">
    		<span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
        <input type="password" name="password" class="form-control" ng-model="$ctrl.user.password" placeholder="Password" required>
      </div>
      <p class="help-block error" ng-show="login.password.$dirty">
        <span ng-show="login.password.$error.required">Password is required</span>
      </p>
    </div>

    <div class="form-group">
  		<div class="checkbox">
  			<label><input type="checkbox" ng-model="$ctrl.user.rememberMe">Remember me</label>
  		</div>
    </div>

		<input type="submit" class="btn btn-default" value="Login" />
	</form>

	<div class="well well-sm">
		<h5>New to Green Tourism? <a href="#!/signup">Create an account.</a></h5>
	</div>
</div>
