<div class="container signup">
  <form role="form" name="signup" method="POST" action="/api/signup" novalidate ng-submit="$ctrl.signup(signup.$valid)">

    <div class="input-group-sm">
      <label for="Name">First Name:</label>
      <input type="text" name="firstName" class="form-control" ng-pattern="/^[a-zA-Z\s]+$/" ng-model="$ctrl.user.firstName" ng-minlength="2" ng-maxlength="15" required>
      <p class="error" ng-show="signup.firstName.$touched && ($ctrl.showError || signup.firstName.$dirty)">
        {{$ctrl.getError(signup.firstName.$error)}}
      </p>
      <p class="tip">Is your real name, sign under comments, posts</p>
    </div>

    <div class="input-group-sm">
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" class="form-control" ng-pattern="/^[a-zA-Z\s]+$/" ng-model="$ctrl.user.lastName" ng-minlength="2" ng-maxlength="15" required>
      <p class="error" ng-show="signup.lastName.$touched && ($ctrl.showError || signup.lastName.$dirty)">
        {{$ctrl.getError(signup.lastName.$error)}}
      </p>
      <p class="tip">Is your real family name</p>
    </div>

    <div class="input-group-sm">
      <label for="email">Email:</label>
      <input type="email" name="email" class="form-control" ng-model="$ctrl.user.email" ng-pattern="/^[\w][\w\.\-]+@[a-zA-Z0-9]+(\.[a-zA-Z0-9]+)+$/" required>
      <p class="error" ng-show="signup.email.$touched && ($ctrl.showError || signup.email.$dirty)">
        {{$ctrl.getErroremail(signup.email.$error)}}
      </p>
    </div>

    <div class="input-group-sm">
      <label for="password">Password:</label>
      <input type="password" name="password" class="form-control" id="password" ng-model="$ctrl.user.password" ng-minlength="8" ng-maxlength="25" required>
      <p class="error" ng-show="signup.password.$touched && ($ctrl.showError || signup.password.$dirty)">
        {{$ctrl.getErrorpassword(signup.password.$error)}}
      </p>
      <p class="tip">At least 8 characters required</p>
    </div>

    <div class="input-group-sm">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" class="form-control" ng-model="$ctrl.user.confirmPassword" required match="signup.password">
      <p class="error" ng-show="signup.confirmPassword.$touched && ($ctrl.showError || signup.confirmPassword.$dirty)">
        {{$ctrl.getErrorpassword(signup.confirmPassword.$error)}}
      </p>
      <p class="tip">Please input your password again</p>
    </div>

    <h4 class="policy">By clicking Sign Up, you agree to our Terms and Policy</h4>
    <input type="submit" class="btn btn-success btn-block submit-btn" value="Sign up" />
  </form>
</div>
