/*  -------- Places template ----------  */

.no-padding {
  padding: 0;
}

#sidebar, #main-content {
  max-height: 1000px;
  text-align: center;
  overflow: hidden;
}

#sidebar {
  text-align: center;
  overflow: hidden;

}

#search {
  margin: 10px 0;
}

#search .btn {
  background-color: @light-green;
  color: #fff;
}

.place-wrapper {
  height: 250px;
  padding: 0;
}

#locationPlaces {
  h2 {
    color: @brand-dark;
  }
  .place-container {
    margin: 10px 5px;
    padding: 3px 3px;
    height: 155px;
    overflow: hidden;
    a.name-location {
      color: @brand-light;
      background-color: rgba(61, 162, 104, 0.5);
      position: absolute;
    }
  }
}

#filter {
  height: auto;
}

#buttons {
  margin: 10px 0;;
}

.btn-first {
  border-radius: 5px 0 0 5px;
}

.btn-last {
  border-radius: 0 5px 5px 0;
}

#map {
  min-height: 600px;
}

#sidebarBottom {
  max-height: 315px;
  text-align: center;
  border-top: 1px solid @light-green;
}

/*-------------- Map type and Places category filters --------------*/

.filter span {
  float: right;
}

.filter img {
  width: 10px;
}

/*--places ------*/
.marker-image {
  width: 150px;
}
