<div class="bs-box">

    <div class="bs-date row">
        <div class="bs-date-header btn-group mounth-line row" role="group">
            <button class="glyphicon glyphicon-backward  btn-default btn-xs" ng-click="$ctrl.chenge_mounth(-12)"></button>
            <button class="glyphicon glyphicon-triangle-left  btn-default btn-xs" ng-click="$ctrl.chenge_mounth(-1)"></button>
            <input type="text" class="mounth" disabled value="{{$ctrl.calendar_show_date | date:'MMMM yyyy'}}" />
            <button class="glyphicon glyphicon-triangle-right  btn-default btn-xs" ng-click="$ctrl.chenge_mounth(1)"></button>
            <button class="glyphicon glyphicon glyphicon-forward  btn-default btn-xs" ng-click="$ctrl.chenge_mounth(12)"></button>
        </div>
        <div class="bs-date-header">
            <div class="bs-day" ng-repeat="dan in $ctrl.calendar_month | limitTo:7 ">{{dan.date
                | date:'EEE'}}
            </div>
        </div>
        <div class="row"></div>
        <div class="bs-day bs-active{{dan.active}}" ng-repeat="dan in $ctrl.calendar_month" ng-click="$ctrl.carent_day(dan.date)">
            <button class="btn-danger btn btn-xs"  ng-if="dan.events.length" ng-mousedown="$ctrl.show=dan.events">
                {{dan.date | date:'dd'}}
            </button>
            <button ng-if="!dan.events.length" class="btn btn-default btn-xs">
                <!--button type="button" class="btn btn-default btn-sm" uib-is-class="
            'btn-info' for selectedDt,
            'active' for activeDt
            on dt" ng-click="select(dt.date)" ng-disabled="::dt.disabled" tabindex="-1">
            <span ng-class="::{'text-muted': dt.secondary, 'text-info': dt.current}" class="ng-binding">01</span></button-->
                {{dan.date | date:'dd'}}
            </button>
        </div>
    </div>
    <!--button class="btn-warning btn btn-xs"><a href="#!/events/"><span class="menu_l">Go to all events</span></a></button-->
    <button class="btn-warning btn btn-xs btn-event-link btn-event-link" ng-repeat="dan in $ctrl.show">
        <a href="#!/events/{{dan.id}}/{{dan.date_start}}"><span class="menu_l">{{dan.name}}</span></a>
    </button>
    <div class="row"></div>


        </ul>
        <div class="row"></div>
    </div>
</div></div>