<div class="bs-box">

  <div class="bs-date row">
    <div class="bs-date-header mounth-line row">
      <div class="glyphicon glyphicon-backward" ng-click="$ctrl.chenge_mounth(-12)"></div>
      <div class="glyphicon glyphicon-triangle-left" ng-click="$ctrl.chenge_mounth(-1)"></div>
      <div class="mounth">{{$ctrl.calendar_show_date | date:'MMMM yyyy'}}</div>
      <div class="glyphicon glyphicon-triangle-right" ng-click="$ctrl.chenge_mounth(1)"></div>
      <div class="glyphicon glyphicon glyphicon-forward" ng-click="$ctrl.chenge_mounth(12)"></div>
    </div>
    <div class="bs-date-header">
      <div class="bs-day" ng-repeat="dan in $ctrl.calendar_month | limitTo:7 ">{{dan.date | date:'EEE'}}
      </div>
    </div>
    <div class="row"></div>
    <div class="bs-day bs-active{{dan.active}}" ng-repeat="dan in $ctrl.calendar_month"
      ng-click="$ctrl.carent_day(dan.date)">
      <div class="circle" ng-if="dan.events.length" ng-mousedown="$ctrl.show=dan.events">
        {{dan.date | date:'dd'}}
      </div>
      <span ng-if="!dan.events.length">
        {{dan.date | date:'dd'}}
      </span>
      <!--p ng-if="dan.events.length"> >>> {{dan.events[0].name}} <<<</p>
            <!--div class="bs-date-header">
                <div class="bs-day" ng-repeat="event in dan.events">{{event.name}}


                </div>
            </div-->
    </div>
  </div>
  <div>
    <a href="#!/events/">
      <span class="menu_l">All events</span>
    </a>
  </div>
  <div ng-repeat="dan in $ctrl.show">
    <a href="#!/events/{{dan.id}}/{{dan.date_start}}">
      <span class="menu_l">{{dan.name}}</span>
    </a>

  </div>
  <div class="row"></div>
</div>
