<h1>Events</h1>
<div class="container">    
  <div class="row">
    
    <div class="col-sm-9">
      <div class="row panel panel-default event">
        <div class="col-sm-3 text-center">
           <div>
		   <a href="#"><img src="assets/img/events/event.jpg" class="img-rounded" width="170" alt="title"></a>
		   </div>
		   <p><a href="#">Comments:</a> 20</p>
		   <div>
			<p><span style="font-size:20px; color: green;" class="glyphicon glyphicon-thumbs-up"></span> 300 <span style="font-size:20px; color: red;" class="glyphicon glyphicon-thumbs-down"></span> 30</p>
		   </div>
        </div>
        <div class="col-sm-9">
          <div style="height: 150px;">
			<h4><a href="#">Title 1</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. ... <a href="#">Read more</a></p>
          </div>
		  <div class="row">
			<div class="col-sm-3">
				<dl>
					<dt>Duration</dt>
					<dd>10 days</dd>
				</dl>
			</div>
			<div class="col-sm-3">
				<dl>
					<dt>Start</dt>
					<dd>2016.05.31</dd>
				</dl>
			</div>
			<div class="col-sm-3">
				<dl>
					<dt>Owner</dt>
					<dd>SomeName</dd>
				</dl>
			</div>
			<div class="col-sm-3">
				<dl>
					<dt>Price</dt>
					<dd>$100</dd>
				</dl>
			</div>
			
		  </div>
        </div>
      </div>
	  
	  <div class="row panel panel-default event">
        <div class="col-sm-3 text-center">
           <div>
		   <a href="#"><img src="assets/img/events/event.jpg" class="img-rounded" width="170" alt="title"></a>
		   </div>
		   <p><a href="#">Comments:</a> 20</p>
		   <div>
			<p><span style="font-size:20px; color: green;" class="glyphicon glyphicon-thumbs-up"></span> 300 <span style="font-size:20px; color: red;" class="glyphicon glyphicon-thumbs-down"></span> 30</p>
		   </div>
        </div>
        <div class="col-sm-9">
          <div style="height: 150px;">
			<h4><a href="#">Title 2</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. ... <a href="#">Read more</a></p>
          </div>
		  <div class="row">
			<div class="col-sm-3">
				<dl>
					<dt>Duration</dt>
					<dd>10 days</dd>
				</dl>
			</div>
			<div class="col-sm-3">
				<dl>
					<dt>Start</dt>
					<dd>2016.05.31</dd>
				</dl>
			</div>
			<div class="col-sm-3">
				<dl>
					<dt>Owner</dt>
					<dd>SomeName</dd>
				</dl>
			</div>
			<div class="col-sm-3">
				<dl>
					<dt>Price</dt>
					<dd>$100</dd>
				</dl>
			</div>
			
		  </div>
        </div>
      </div>
	  <div class="row panel panel-default event">
        <div class="col-sm-3 text-center">
           <div>
		   <a href="#"><img src="assets/img/events/event.jpg" class="img-rounded" width="170" alt="title"></a>
		   </div>
		   <p><a href="#">Comments:</a> 20</p>
		   <div>
			<p><span style="font-size:20px; color: green;" class="glyphicon glyphicon-thumbs-up"></span> 300 <span style="font-size:20px; color: red;" class="glyphicon glyphicon-thumbs-down"></span> 30</p>
		   </div>
        </div>
        <div class="col-sm-9">
          <div style="height: 150px;">
			<h4><a href="#">Title 3</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. ... <a href="#">Read more</a></p>
          </div>
		  <div class="row">
			<div class="col-sm-3">
				<dl>
					<dt>Duration</dt>
					<dd>10 days</dd>
				</dl>
			</div>
			<div class="col-sm-3">
				<dl>
					<dt>Start</dt>
					<dd>2016.05.31</dd>
				</dl>
			</div>
			<div class="col-sm-3">
				<dl>
					<dt>Owner</dt>
					<dd>SomeName</dd>
				</dl>
			</div>
			<div class="col-sm-3">
				<dl>
					<dt>Price</dt>
					<dd>$100</dd>
				</dl>
			</div>
			
		  </div>
        </div>
      </div>
	  <div class="row panel panel-default event">
        <div class="col-sm-3 text-center">
           <div>
		   <a href="#"><img src="assets/img/events/event.jpg" class="img-rounded" width="170" alt="title"></a>
		   </div>
		   <p><a href="#">Comments:</a> 20</p>
		   <div>
			<p><span style="font-size:20px; color: green;" class="glyphicon glyphicon-thumbs-up"></span> 300 <span style="font-size:20px; color: red;" class="glyphicon glyphicon-thumbs-down"></span> 30</p>
		   </div>
        </div>
        <div class="col-sm-9">
          <div style="height: 150px;">
			<h4><a href="#">Title 4</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. ... <a href="#">Read more</a></p>
          </div>
		  <div class="row">
			<div class="col-sm-3">
				<dl>
					<dt>Duration</dt>
					<dd>10 days</dd>
				</dl>
			</div>
			<div class="col-sm-3">
				<dl>
					<dt>Start</dt>
					<dd>2016.05.31</dd>
				</dl>
			</div>
			<div class="col-sm-3">
				<dl>
					<dt>Owner</dt>
					<dd>SomeName</dd>
				</dl>
			</div>
			<div class="col-sm-3">
				<dl>
					<dt>Price</dt>
					<dd>$100</dd>
				</dl>
			</div>
			
		  </div>
        </div>
      </div>
         
    </div>
    <div class="col-sm-3 well">
      <div class="well">
        <img src="assets/img/events/calendar.jpg" width="220px">
      </div>
      <div class="well">
        <h4>Type</h4>
		<div class="checkbox">
			<label><input type="checkbox" value="">Trecking</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" value="">Car</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" value="">Bicycle</label>
		</div>
		<div class="checkbox">
			<label><input type="checkbox" value="">Mixed</label>
		</div>
      </div>
      
    </div>
  </div>
</div>
