<div class="container user-page">
  <div class="row">
    <section class="col-md-3 user-page-sidebar">
      <div class="user-page-avatar">
        <img ng-src="{{$ctrl.user.avatar}}" alt="User profile picture" class="img-rounded img-responsive" />
        <button type="button" class="btn btn-default">Change</button>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="">Profile</a></li>
        <li><a href="">My Points</a></li>
        <li><a href="">My Tracks</a></li>
        <li><a href="">Favorite Events</a></li>
      </ul>
    </section>
    <section class="col-md-9">
      <h1>{{$ctrl.user.getFullName()}}</h1>
      <h2>{{$ctrl.user.nickname}}</h2>
      <button type="button" class="btn btn-default">Edit</button>
    </section>
  </div>
</div>
