<span class="event-poster">
<div class="container h20px">
    <div class="row"></div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 nopadding">
        <div class="btn-group w100">
            <div class="dropdown-toggle  w100" type="button" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">Event type <span class="caret"></span></div>
            <ul class="dropdown-menu">
                <li><li><event-map-type></event-map-type></li></li>
            </ul>
            <div class="row"></div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 nopadding">
        <div class="btn-group w100">
            <div class="dropdown-toggle  w100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Sort
                by <span class="caret"></span></div>
            <ul class="dropdown-menu">
                <li>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="sort('event_rate')">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>
                    <div class="w100px">Rating</div>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="sort('-event_rate')">
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </button>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="sort('price')">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>
                    <div class="w100px">Price</div>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="sort('-price')">
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </button>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="sort('name')">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>
                    <div class="w100px">Title</div>
                    <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="sort('-name')">
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </button>
                </li>
                <li role="separator" class="divider"></li>
            </ul>
        </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 nopadding">
        <input type="number" class="event-on-page" min="4" max="20" ng-model="howMuch"> events
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 nopadding calendar">
        <div class="btn-group">
            <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                From:
                <span class="caret"></span>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
            <ul class="dropdown-menu">
                <calendar></calendar>
            </ul>
            <div class="row"></div>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6 nopadding calendar">
        <div class="btn-group">
            <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                To:
                <span class="caret"></span>
                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </div>
            <ul class="dropdown-menu right-calendar">
                <calendar></calendar>
            </ul>
            <div class="row"></div>
        </div>
    </div>



</div>
<div class="row"></div>
<div class="container">

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 show-event"
             ng-repeat="dan in give_event.find_date(give_event.date_current,1) | orderBy: sort_by | limitTo:howMuch ">
            <div style="display: none">{{give_event.find_date(give_event.date_current,1)}}</div>
            <a href="#!/events/{{dan.id}}/{{dan.date_start}}">
                <div class="text">
                    <div class="event-title">{{dan.name}}</div>
                    <div class="event-description">{{dan.description}}</div>
                    <a href="#!/events/{{dan.id}}/{{dan.date_start}}"></a>
                    <div class="event-map">
                        <a href="#!/eventsmap/{{dan.event_points[0].lat}}/{{dan.event_points[0].lon}}/{{dan.type}}/{{dan.date_start}}">
                            <img src="assets{{'/img/events/map.png'}}" title="{{dan.name}}">
                        </a>
                    </div>
                    <div class="event-some-fill">
                        <div class="event-fill">Date start:</div>
                        <div class="event-fill-text">{{dan.date_start | date:'dd MMMM yyyy'}}</div>
                        <div class="row"></div>
                        <div class="event-fill">Date end:</div>
                        <div class="event-fill-text">{{dan.date_end | date:'dd MMMM yyyy'}}</div>
                        <div class="row"></div>
                        <div class="event-fill">Prise:</div>
                        <div class="event-fill-text">{{dan.price}}</div>
                        <div class="row"></div>
                        <div class="event-fill">Author:</div>
                        <div class="event-fill-text">{{dan.owner}}</div>
                        <div class="row"></div>
                        <div class="event-fill">Reting:</div>
                        <div class="event-fill-text">{{dan.event_rate}}</div>
                    </div>
                </div>
                <div class="fon" style="background-image: url('assets{{dan.attachments.photo[0]}}')" alt="{{dan.name}}" title="{{dan.name}}">
                    <div class="top-title">{{dan.name}}</div>
                    <!--div class="location">{{$ctrl.event_place(dan.event_points[0].lat,dan.event_points[0].lon)}}</div-->
                </div>
            </a>
        </div>
        <div class="row"></div>

    </div>

    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
    <div class="row"></div>
</div>
</span>