<h4>Popular places in location</h4>
<div class="popular-in-location-wrapper"
     ng-repeat="place in placesByLocation | filter:$ctrl.placesFilter | limitTo:4  | orderBy : '-rate'">
  <img ng-src="{{place.photos[0]}}"/>
  <a ng-href="#!/places/{{place.id}}">
    <div class="popular-in-location-gradient"></div>
  </a>
  <a class="popular-in-location-name" ng-href="#!/places/{{place.id}}">{{place.name}}</a>
  <a class="popular-in-location-address" ng-href="#!/places/{{place.id}}">
    <img src="assets/img/places/marker/green.png">
    {{(place.location.coordinates[1] | number:4)}}, {{place.location.coordinates[0] | number:4}}
  </a>
</div>
