<div class="map-page-wrapper">
  <div class="container">
    <div class="row map-menu">
      <div class="col-lg-3 col-md-2 col-sm-3 col-xs-12 map-menu-check-button">
        <a href="" ng-click="$ctrl.defaultObject('placesIcon')">
          <i class="fa fa-map-marker placesIcon" aria-hidden="true"></i></a>
        <a href="" ng-click="$ctrl.defaultObject('tracksIcon')">
          <i class="fa fa-random tracksIcon" aria-hidden="true"></i></a>
        <a href="" ng-click="$ctrl.defaultObject('events')">
          <i class="fa fa-calendar" aria-hidden="true"></i></a>
      </div>
      <div class="col-lg-5 col-md-5 hidden-sm hidden-xs">
        <div class="btn-group map-menu-buttons" role="group">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              New Item
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="" >Add Place</a>
              </li>
              <li><a href="#">Add Track</a></li>
              <li><a href="#">Add Event</a></li>
            </ul>
          </div>

          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              Map Type
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdownStop">
              <filter-map-type></filter-map-type>
            </ul>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              Categories
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdownStop">
              <li class="dropdown-submenu places">
                <a href="">Places</a>
                <ul class="dropdown-menu">
                  <li ng-repeat="(placeType, placeTypeValue) in $ctrl.placesType"
                      ng-click="$ctrl.checkType(placeType)">
                    <a class="placeFilter {{placeType}}" href="">
                      <img ng-src="{{placeTypeValue.icon}}">
                      {{placeTypeValue.name}}
                      <span></span>
                    </a>
                  </li>
                  <li>
                    <a class="placeFilter check-all-places" href=""
                       ng-click="$ctrl.checkAllPlaces()">
                      Check all
                      <span></span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="dropdown-submenu places">
                <a href="">Tracks</a>
                <ul class="dropdown-menu">
                  <li ng-repeat="(trackType, trackTypeValue) in $ctrl.tracksType"
                      ng-click="$ctrl.showSpecificTracks(trackType)">
                    <a class="trackFilter {{trackType}}" href="">
                      <span style="background-color: {{trackTypeValue.color}};">
                      &nbsp;
                    </span>
                      &nbsp;{{trackTypeValue.name}}
                      <span></span>
                    </a>
                  </li>
                  <li>
                    <a class="trackFilter check-all-tracks" href=""
                       ng-click="$ctrl.checkAllTracks()">
                      Check all
                      <span></span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-5 col-sm-4 col-xs-9 hidden-md hidden-lg">
        <div class="btn-group map-menu-buttons" role="group">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              <i class="fa fa-plus" aria-hidden="true"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="" >Add Place</a>
              </li>
              <li><a href="#">Add Track</a></li>
              <li><a href="#">Add Event</a></li>
            </ul>
          </div>

          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              <i class="fa fa-globe" aria-hidden="true"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdownStop">
              <filter-map-type></filter-map-type>
            </ul>
          </div>

          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu place-mobile dropdownStop">
              <li ng-repeat="(placeType, placeTypeValue) in $ctrl.placesType"
                  ng-click="$ctrl.checkType(placeType)">
                <a class="placeFilter {{placeType}}" href="">
                  <img ng-src="{{placeTypeValue.icon}}">
                  {{placeTypeValue.name}}
                  <span></span>
                </a>
              </li>
              <li>
                <a class="placeFilter check-all-places" href=""
                   ng-click="$ctrl.checkAllPlaces()">
                  Check all
                  <span></span>
                </a>
              </li>
            </ul>
          </div>

          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
              <i class="fa fa-random" aria-hidden="true"></i>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu place-mobile dropdownStop">
              <li ng-repeat="(trackType, trackTypeValue) in $ctrl.tracksType"
                  ng-click="$ctrl.showSpecificTracks(trackType)">
                <a class="trackFilter {{trackType}}" href="">
                  <span style="background-color: {{trackTypeValue.color}};">
                      &nbsp;
                    </span>
                  &nbsp;
                  {{trackTypeValue.name}}
                  <span></span>
                </a>
              </li>
              <li>
                <a class="trackFilter check-all-tracks" href=""
                   ng-click="$ctrl.checkAllTracks()">
                  Check all
                  <span></span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-9 map-menu-search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
          <button class="btn btn-default" type="button">Search</button>
        </span>
        </div>
      </div>
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 map-menu-popular">
        <div style="float: right;">
        <a href="" ng-click="$ctrl.checkPopularPlaces()">
          <i id="popularPlaces" class="fa fa-flag-o" aria-hidden="true"
             title="Places in Location"></i></a>
        <a href="" ng-click="$ctrl.checkPopularTracks()">
          <i id="popularTracks" class="fa fa-map-signs" aria-hidden="true"
             title="Tracks in Location"></i></a>
          </div>
      </div>



    </div>
    <div class="row">
      <div class="mapwrapper">
        <div id="map"></div>
      </div>
      <div class="popular-places-div" ng-hide="$ctrl.hidePopularPlaces"></div>
      <div class="popular-tracks-div" ng-hide="$ctrl.hidePopularTracks">

      </div>
    </div>
  </div>
</div>