<div class="container-fluid places">
  <div class="row places">
    <div class="col-xs-9 no-padding" id="main-content">
      <div class="col-xs-12 no-padding" id="filter">
        <!-- Filter container start -->
        <div class="btn-group col-xs-12" role="group" id="buttons">
          <div class="col-xs-1"></div>
          <div class="btn-group col-xs-2 no-padding" role="group">
            <button type="button" class="btn btn-default col-xs-12 btn-first" ng-disabled="!$ctrl.user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              New item
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu col-xs-12 list-group no-padding dropdownFilter">
              <a href="" class="list-group-item filter" ng-click="$ctrl.toggleAddPlaceMenu()">Add place</a>
              <a href="" class="list-group-item filter" ng-click="$ctrl.toggleAddTrackMenu()">Add track</a>
              <a href="" class="list-group-item filter">Add event</a>
            </ul>
          </div>
          <div class="btn-group col-xs-2 no-padding" role="group" id="dropdownFilterMapType">
            <button type="button" class="btn btn-default dropdown-toggle col-xs-12" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              Map type
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu col-xs-12 list-group no-padding dropdownFilter">
              <filter-map-type></filter-map-type>
            </ul>
          </div>
          <div class="btn-group col-xs-2 no-padding" role="group" id="dropdownFilterCategory">
            <button type="button" class="btn btn-default dropdown-toggle col-xs-12" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              Places
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu col-xs-12 list-group no-padding dropdownFilter placeFilter">
              <a href="" id="{{placeType}}" class="list-group-item filter" ng-repeat="(placeType, placeTypeValue) in $ctrl.placesType"
                  ng-click="$ctrl.checkType(placeType)">
                <img ng-src="{{placeTypeValue.icon}}"> {{placeTypeValue.name}}
                <span></span>
              </a>
              <a href="" id="all" class="list-group-item filter" ng-click="$ctrl.checkAll()">
                <img> Check all
                <span></span>
              </a>
            </ul>
          </div>
          <div id="tracks-filter" class="btn-group col-xs-2 no-padding" role="group">
            <button type="button" class="btn btn-default dropdown-toggle col-xs-12" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
              Tracks
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu col-xs-12 dropdownFilter">
              <li ng-repeat="(type, typeObj) in $ctrl.tracksType" ng-click="$ctrl.showSpecificTracks(type)">
                <a href="" class="active" id="{{type}}">
                  <span class="col-xs-9" style="border-left: 5px solid {{typeObj.color}}">
                    {{typeObj.name}}
                  </span>
                  <span id="gi{{type}}" class="col-xs-3 glyphicon glyphicon-ok">
                  </span>
                </a>
              </li>
              <li ng-click="$ctrl.checkAllTracks()">
                <a href="" class="active" id="all-tracks">
                  <span class="col-xs-9">
                    Check all tracks
                  </span>
                  <span id="gi-all" class="col-xs-3 glyphicon glyphicon-ok">
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <button type="button" class="btn btn-default col-xs-2 btn-last">Export</button>
          <div class="col-xs-2"></div>
        </div>
      </div>
      <!-- Filter container end -->

      <div class="col-xs-12 no-padding"><!-- Map container start-->
        <div id="map"></div>
      </div>
      <!-- Map container end-->

      <popular-tracks></popular-tracks>
    </div>
    <div class="col-xs-3 no-padding" id="sidebar">
      <div class="col-xs-12" id="search">
        <div class="input-group col-xs-offset-1 col-xs-10">
          <input class="form-control" type="text" name="search">
          <span class="input-group-btn">
            <button class="btn" type="button">Search</button>
          </span>
        </div>
      </div>
      <div class="col-xs-12 no-padding" id="popularPlaces">
        <location-places places="$ctrl.places"></location-places>
      </div>
    </div>
    <div id="add-place" class="add-item-menu" ng-if="$ctrl.addPlaceMenuIsOpen">
      <h2>New Place</h2>
      <a href="" ng-click="$ctrl.toggleAddPlaceMenu()"><span class="glyphicon glyphicon-remove removeIcon"></span></a>
      <form name="placeMaker" novalidate>
        <div class="col-xs-12">
          <span class="title">1. Choose place on map:</span><br>
          <span id="latitude"></span><br>
          <span id="longitude"></span><br>
          <span class="alert-input" ng-show="$ctrl.formNewPlaceSubmitted && !$ctrl.coordsIsDefined">Please choose place on map!</span>
        </div>
        <div class="form-group col-xs-12">
          <label for="placeName"><span class="title">2. Enter place name:</span></label>
          <input type="text" name="newPlaceName" class="form-control" id="newPlaceName" ng-model="$ctrl.newPlace.name" ng-required="true">
          <div ng-show="$ctrl.formNewPlaceSubmitted || placeMaker.newPlaceName.$touched">
            <span class="alert-input" ng-show="placeMaker.newPlaceName.$error.required">Please enter Place name!</span>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="newPlaceType"><span class="title">3. Select place type:</span></label>
          <select name="newPlaceType" class="form-control" ng-options="type as typeObj.name for (type, typeObj) in $ctrl.placesType track by type"
            ng-model="$ctrl.newPlaceType" ng-required="true">
            <option value="">-- Choose place type --</option>
          </select>
          <div ng-show="$ctrl.formNewPlaceSubmitted || placeMaker.newPlaceType.$touched">
            <span class="alert-input" ng-show="placeMaker.newPlaceType.$error.required">Please select place type!</span>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="newPlaceDescription"><span class="title">4. Enter place description (optional):</span></label>
          <textarea name="newPlaceDescription" id="newPlaceDescription" class="form-control" ng-model="$ctrl.newPlace.description"></textarea>
        </div>
        <!--<div class=" col-xs-12 form-group">
          <label for="newPlacePhoto"><span class="title">5. Upload photo (optional):</span></label>
          <input type="file" name="newPlacePhoto" id="newPlacePhoto" ng-model="$ctrl.newPlacePhoto">
        </div>-->
        <div class=" col-xs-12 form-group">
          <div class="btn-group col-xs-12 no-padding">
            <input type="button" class="btn btn-success col-xs-6" ng-click="$ctrl.resetAddPlaceForm(placeMaker)" value="Reset">
            <input type="button" class="btn btn-success col-xs-6" ng-click="$ctrl.createNewPlace(placeMaker)" value="Create New Place">                                              
          </div>
        </div>
      </form>
    </div>
    <div id="add-track" class="add-item-menu" ng-if="$ctrl.addTrackMenuIsOpen">
      <h2>New Track</h2>
      <a href="" ng-click="$ctrl.toggleAddTrackMenu()"><span class="glyphicon glyphicon-remove removeIcon"></span></a>
      <form name="trackMaker">
        <div class="col-xs-12">
          <span class="title">1. Choose places on map:</span><br>
          <div id="points">
            <div ng-repeat="point in $ctrl.newTrackPoints">{{$index + 1 + '. ' + point[0].name}}</div>
          </div>
          <div id="new-point-menu" ng-if="$ctrl.addPointMenuIsOpen">
            <h3>New Point</h3>
            <form name="pointMaker">
              <div class="form-group col-xs-6">
                <label for="pointName"><span class="title">Point name:</span></label>
                <input type="text" name="newPointName" class="form-control" ng-model="$ctrl.newPoint.name" ng-required="true">
                <div ng-show="">
                  <span class="alert-input" ng-show="">Please enter Point name!</span>
                </div>
              </div>
              <div class="form-group col-xs-6">
                <label for="newPointType"><span class="title">Point type:</span></label>
                <select name="newPointType" class="form-control" ng-options="type as typeObj.name for (type, typeObj) in $ctrl.placesType track by type"
                  ng-model="$ctrl.newPointType" ng-required="true">
                  <option value="">-- Point type --</option>
                </select>
                <div ng-show="">
                  <span class="alert-input" ng-show="">Please select place type!</span>
                </div>
              </div>
              <div class="form-group col-xs-12">
                <label for="newPointDescription"><span class="title">Point description (optional):</span></label>
                <textarea name="newPointDescription" class="form-control" ng-model="$ctrl.newPoint.description"></textarea>
              </div>
              <div class="form-group col-xs-12">
                <input type="button" class="btn btn-success col-xs-12" ng-click="$ctrl.createNewPointForTrack()" value="Create New Point for Track"> 
              </div>
            </form>
          </div>
          <span class="alert-input" ng-show="$ctrl.formNewTrackSubmitted && !$ctrl.newTrack.location.coordinatest">Track must have at least two points!</span>
        </div>
        <div class="form-group col-xs-12">
          <label for="trackName"><span class="title">2. Enter track name:</span></label>
          <input type="text" name="newTrackName" class="form-control" id="newTrackName" ng-model="$ctrl.newTrack.name" ng-required="true">
          <div ng-show="$ctrl.formNewTrackSubmitted || trackName.newTrackName.$touched">
            <span class="alert-input" ng-show="trackMaker.newTrackName.$error.required">Please enter track name!</span>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="newTrackType"><span class="title">3. Select track type:</span></label>
          <select name="newTrackType" id="newTrackType" class="form-control" ng-options="type.name for type in $ctrl.tracksType track by type.type"
            ng-model="$ctrl.newTrackType" ng-required="true">
            <option value="">-- Choose track type --</option>
          </select>
          <div ng-show="$ctrl.formNewTrackSubmitted || trackName.newTrackType.$touched">
            <span class="alert-input" ng-show="trackMaker.newTrackType.$error.required">Please select track type!</span>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="newTrackDescription"><span class="title">4. Enter track description (optional):</span></label>
          <textarea name="newTrackDescription" id="newTrackDescription" class="form-control" ng-model="$ctrl.newTrack.description"></textarea>
        </div>
        <div class=" col-xs-12 form-group">
          <label for="newTrackPhoto"><span class="title">5. Upload photo (optional):</span></label>
          <input type="file" id="newTrackPhoto" name="newTrackPhoto">
        </div>
        <div class=" col-xs-12 form-group">
          <div class="btn-group col-xs-12 no-padding">
            <button type="button" class="btn btn-success col-xs-6" ng-click="$ctrl.resetAddTrackForm(trackMaker)">Reset</button>
            <button type="button" class="btn btn-success col-xs-6" ng-click="$ctrl.createNewTrack(trackMaker)">Create New Track</button>                                                
          </div>
        </div>
      </form>
    </div>      
  </div>
</div>
