<div class="row">
  <div class="panel-title"> Most popular places</div>

  <div class="container-fluid main-centr">
    <div class="row">
      <div class="col-xs-4 col-md-2" ng-repeat="place in $ctrl.places | filter:$ctrl.placesFilter | limitTo:6">
        <!--<div class="green-places" ng-style="{'background-image':'url(assets/{{place.photo[0]}})'}"></div> -->
        <div class="img-block">
          <h3 class="text-center">{{place.name}}</h3>
          <img src="assets/{{place.photo[0]}}" alt="img1" class="img-circle">
        </div>
      </div>

    </div>
  </div>
</div>
