/*blog list style*/
.blog-page-header {
  color: #747474;
  background-color: #f6f6f6;
  border-bottom: 1px solid #d2d3d4;
}
.blog-page-header h1 {
  margin: 20px 0;
}
.blog-page-content {
  padding: 50px 0;
}
.blog-page-content a {
  color: #747474;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.blog-page-content a:hover {
  text-decoration: none;
  color: #a0ce4e;
}
.blog-page-content aside {
  background: red;
}
.blog-page-content aside .blog-find {
  margin-bottom: 45px;
}
.blog-page-content aside .blog-find .input-group .form-control {
  border-radius: 0;
}
.blog-page-content aside .blog-find .btn {
  border-radius: 0;
  background: #a0ce4e;
  color: #747474;
  border: 1px solid #a0ce4e;
}
.blog-page-content aside .blog-category-list {
  margin-bottom: 45px;
}
.blog-page-content aside .blog-category-list h3 {
  margin: 0 0 18px 0;
  color: #747474;
}
.blog-page-content aside .blog-category-list ul {
  list-style-type: none;
  padding: 0;
}
.blog-page-content aside .blog-category-list ul li {
  border-bottom: 1px solid #eaeaea;
}
.blog-page-content aside .blog-category-list ul li a {
  padding: 5px 0;
  display: inline-block;
}
.blog-page-content aside .blog-category-list ul li a i {
  display: inline-block;
  margin-right: 10px;
}
.blog-page-content aside #tabs-blog .nav-tabs {
  border-bottom: none;
}
.blog-page-content aside #tabs-blog .nav-tabs li {
  border-radius: 0;
  width: 50%;
  text-align: center;
}
.blog-page-content aside #tabs-blog .nav-tabs li a {
  border-radius: 0;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #eee;
  border: 1px solid #dddddd;
  border-bottom: none;
  font-size: 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.blog-page-content aside #tabs-blog .nav-tabs li a:hover {
  background: #fff;
}
.blog-page-content aside #tabs-blog .nav-tabs li.active a {
  background: #fff;
  border-top: 3px solid #a0ce4e;
}
.blog-page-content aside #tabs-blog .tab-content {
  border: 1px solid #dddddd;
  border-top: none;
  overflow: hidden;
}
.blog-page-content aside #tabs-blog .tab-content .blog-aside-items {
  padding: 20px;
  border-bottom: 1px solid #dddddd;
  margin-top: 0;
}
.blog-page-content aside #tabs-blog .tab-content .blog-aside-items:last-child {
  border-bottom: none;
}
.blog-page-content aside #tabs-blog .tab-content .blog-aside-items img {
  width: 52px;
  height: 52px;
}
.blog-page-content aside #tabs-blog .tab-content .blog-aside-items .media-heading {
  font-size: 15px;
}
.blog-page-content aside #tabs-blog .tab-content .blog-aside-items .media-date {
  color: #747474;
  font-size: 13px;
}
.blog-list-item {
  font-family: 'PT Sans', sans-serif;
  color: #818181;
  border: none;
  border-radius: 0;
  padding: 0;
}
.blog-list-item .caption {
  border: 1px solid #eaeaea;
  border-bottom-width: 3px;
  padding: 30px 25px 0 25px;
}
.blog-list-item .caption .blog-title {
  margin: 0 0 5px 0;
}
.blog-list-item .caption .blog-separator {
  margin: 10px 0;
  height: 6px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.blog-list-item .caption .blog-content {
  text-align: justify;
  min-width: 80px;
}
.blog-list-item .caption .blog-meta {
  margin: 20px 0;
}
.blog-item-page .blog-page-content {
  padding: 0;
}
.blog-item-page .blog-page-content .blog-wrapper img {
  width: 100%;
}
.blog-item-page .blog-page-content .blog-wrapper .blog-title {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 25px;
}
.blog-item-page .blog-page-content .title-sep.sep-double {
  height: 6px;
  border-bottom-width: 1px;
  border-top-width: 1px;
}
