body{
    background-color: rgb(253, 253, 253);
}

.log-in {
    padding-left: 15px;
    padding-top: 10px;
}

.carousel-inner>.item>img {
    margin: 0 auto;
    width: 848px;
    height: 400px;
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgb(10, 222, 75) 0, rgba(0, 0, 0, .0001) 70%);
}
.carousel-control.right {
    background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0, rgb(10, 222, 75) 70%);
}

.navbar, .panel{
    margin-bottom: 0px;
}

.main-centr{
    margin: 20px 0;
}

.green-block {
    padding: 5px;
    width: 100%;
    background-color: #ecfff4;
    border-radius: 10px;
    min-height: 300px;
}

.green-places {
    width: 100%;
    background-color: #ecfff4;
    border-radius: 5px;
    min-height: 100px;
    margin: 5px;
}

.panel-title {
    text-align: center;
    font-weight: bolder;
    margin-top: 5px;
}

/*  -------- Bottstrap 3 ----------  */
.navbar-default .navbar-brand, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>li>a
{
    color: #336666;
}

.dropdown-menu>.active>a:focus
{
    color: #336666;
}

.navbar-default .navbar-nav>.active>a
{
     background-image: linear-gradient(to bottom, rgba(51, 102, 102, 0.41) 0,#d9edf7 100%);
}

.nav>li>a {
    font-size: 22px;
}
.navbar-default .navbar-brand, .navbar-default  {
    font-size: 26px;
    font-weight: bolder;
}

.carousel-inner>.item>img {
    width: 100%;
    height: auto;
}
.textOnPix {
    display: block;
    position: absolute;
    z-index: 1;
    color: white;
    padding: 5%;
    overflow: hidden;
    font-size: 1.1em;
}
.textOnPix h1 {
    margin-bottom: 20px;
}
.textOnPix input {
    margin-top: 20px;

}

.log-in{
    display: block;
    position: absolute;
    z-index: 1;
}
.inputButton{
    width: 100%;
    background-color: #336666;
    padding: 5px;
    margin-top: 50px;
}
.centrBoldText{
    text-align: center;
    font-weight: bolder;
    width: 100%;
    font-size:2em;
}
.img-circle{
    width: 150px;
    height: 150px;
}
.img-block{
    width: 150px;
    margin: 0 auto;
}

.carousel-inner img {
	height: 400px;
 }


.panel-title {
    font-size:1.5em;
}
.navbar-green, .navbar-green a{
    background-color: #336666;
    color: white;
}
.navbar-green a:hover{
    background-color: #336666;
    color: white;
    background-image: linear-gradient(to bottom, rgba(51, 102, 102, 0.41) 0,#d9edf7 100%);
}

                                                        /*  -------- Places template ----------  */

.no-padding {
    padding: 0;
}
#sidebar, #main-content {
    max-height: 1000px;
    text-align: center;
    overflow: hidden;
}
#sidebar {
    text-align: center;
    overflow: hidden;
    border-left: 1px solid #009000;
}
    #search {
        margin: 10px 0;
    }
    #search .btn {
        background-color: #009000;
        color: #fff;
    }
    .place-wrapper {
        height: 250px;
        padding: 0;
    }
    .place-container {
        margin: 5px;
        height: 240px;
        border: 1px solid #000;
    }
#filter {
    height: auto;
    border-bottom: 1px solid #009000;
}
    #buttons {
        margin: 10px 0;;
    }
    .btn {
        border: 1px solid #009000;
        background-color: #fff;
        color: #009000;
    }
    .btn-first {
        border-radius: 5px 0 0 5px !important;
    }
    .btn-last {
        border-radius: 0 5px 5px 0 !important;
    }
#map {
    min-height: 600px;
}
#sidebarBottom {
    max-height: 315px;
    text-align: center;
    border-top: 1px solid #009000;     
}


                                                        /*  -------- Tracks filter ----------  */
track-filter li {
    padding: 3px 20px;
    overflow: hidden;
}
track-filter li:hover {
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
}