/*  -------- Bottstrap 3 ----------  */
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > li > a {
  color: #336666;
}
.dropdown-menu > .active > a:focus {
  color: #336666;
}
.nav > li > a {
  font-size: 22px;
}
.navbar-default .navbar-brand,
.navbar-default {
  font-size: 26px;
  font-weight: bolder;
}
.avatar_big {
  max-width: 200px;
  min-width: 100px;
  max-height: 250px;
  min-height: 100px;
  background-color: #ecfff4;
  border-radius: 5px;
  margin: 5px auto;
}
.log-in {
  padding-left: 15px;
  padding-top: 10px;
}
.carousel-inner > .item > img {
  margin: 0 auto;
  width: 848px;
  height: 400px;
}
.carousel-control.left {
  background-image: linear-gradient(to right, #0ade4b 0, rgba(0, 0, 0, 0.0001) 70%);
}
.carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, #0ade4b 70%);
}
.navbar,
.panel {
  margin-bottom: 0px;
}
.main-centr {
  margin: 20px 0;
}
.green-block {
  padding: 5px;
  width: 100%;
  background-color: #ecfff4;
  border-radius: 10px;
  min-height: 300px;
}
.green-places {
  width: 100%;
  background-color: #ecfff4;
  border-radius: 5px;
  min-height: 100px;
  margin: 5px;
}
.panel-title {
  text-align: center;
  font-weight: bolder;
  margin-top: 5px;
}
.carousel-inner > .item > img {
  width: 100%;
  height: auto;
}
.textOnPix {
  display: block;
  position: absolute;
  z-index: 1;
  color: white;
  padding: 5%;
  overflow: hidden;
  font-size: 1.1em;
}
.textOnPix h1 {
  margin-bottom: 20px;
}
.textOnPix input {
  margin-top: 20px;
}
.log-in {
  display: block;
  position: absolute;
  z-index: 1;
}
.inputButton {
  width: 100%;
  background-color: #336666;
  padding: 5px;
  margin-top: 50px;
}
.centrBoldText {
  text-align: center;
  font-weight: bolder;
  width: 100%;
  font-size: 2em;
}
.img-circle {
  width: 150px;
  height: 150px;
}
.img-block {
  width: 150px;
  margin: 0 auto;
}
.carousel-inner img {
  height: 400px;
}
.panel-title {
  font-size: 1.5em;
}
.navbar-green,
.navbar-green a {
  background-color: #336666;
  color: white;
}
.navbar-green a:hover {
  background-color: #336666;
  color: white;
  background-image: linear-gradient(to bottom, rgba(51, 102, 102, 0.41) 0, #d9edf7 100%);
}
/*  -------- Places template ----------  */
.no-padding {
  padding: 0;
}
#sidebar,
#main-content {
  max-height: 1000px;
  text-align: center;
  overflow: hidden;
}
#sidebar {
  text-align: center;
  overflow: hidden;
  border-left: 1px solid #009000;
}
#search {
  margin: 10px 0;
}
#search .btn {
  background-color: #009000;
  color: #fff;
}
.place-wrapper {
  height: 250px;
  padding: 0;
}
.place-container {
  margin: 5px;
  height: 240px;
  border: 1px solid #000;
}
#filter {
  height: auto;
  border-bottom: 1px solid #009000;
}
#buttons {
  margin: 10px 0;
}
.btn {
  border: 1px solid #009000;
  background-color: #fff;
  color: #009000;
}
.btn-first {
  border-radius: 5px 0 0 5px !important;
}
.btn-last {
  border-radius: 0 5px 5px 0 !important;
}
#map {
  min-height: 600px;
}
#sidebarBottom {
  max-height: 315px;
  text-align: center;
  border-top: 1px solid #009000;
}
/*-------------- Map type and Places category filters --------------*/
.filter span {
  float: right;
}
.filter img {
  width: 10px;
}
/*  -------- Tracks filter ----------  */
track-filter li {
  padding: 3px 20px;
  overflow: hidden;
}
track-filter li:hover {
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
}
/*------ all eventssssssssss page ------------*/
.event_block {
  width: 90%;
  height: 450px;
  background-image: linear-gradient(to top left, #ecfff4, #18ffc5, #ecfff4);
  margin: 2px auto;
  box-shadow: black 1px 1px;
}
.event_block div {
  overflow: hidden;
}
.event_block .info {
  padding: 5px;
}
.event_block img {
  width: 100%;
  height: 200px;
  border-left: 1px solid black;
}
.event_block .date_event {
  text-align: right;
  color: white;
  font-weight: bold;
}
.event_block .title_event {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
  margin: 5px auto;
}
.event_block .description_event {
  height: 40px;
  overflow: hidden;
  font-size: 14px;
  margin-top: 5px;
}
.event_block .date_place {
  text-align: left;
  font-size: 12px;
  margin: 5px auto;
}
.event_block .tag_area {
  height: 60px;
  overflow: hidden;
}
.event_block .tag_event {
  border: outset 1px white ;
}
.event_block .tag_event_right {
  margin: 1px;
  padding: 1px 10px;
  background-image: linear-gradient(to top right, #e2e2e2, #3fdb9b, #94ff60, #fefefe);
  float: left;
}
.event_block .tag_event_left {
  margin: 1px;
  padding: 1px 10px;
  background-image: linear-gradient(to top left, #e2e2e2, #3fdb9b, #94ff60, #fefefe);
  float: left;
}
.event_block .hoverer:hover {
  text-shadow: 1px 1px 0px #fff, 2px 2px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.bs-box div .menu_l {
  height: 27px;
  background-color: #2d9b76;
  color: white;
  padding: 5px;
  margin: 5px;
  width: 90%;
  display: block;
  text-decoration: none;
}
.bs-box a:active,
.bs-box a:hover,
.bs-box a:focus {
  text-decoration: none;
}
t5 {
  font-weight: bolder;
}
/************************************ Event page ************************************/
.img-small {
  width: 64px;
  height: 64px;
}
.text-event p {
  text-indent: 20px ;
  padding: 0px 3% 5% ;
}
.text-event .input-group {
  width: 100%;
}
.avatar {
  height: 50px;
  width: 50px;
  display: block;
}
.right-padding {
  padding-left: 0px;
}
/* ---------------- calendar style ----------------------- */
.bs-box {
  background-image: linear-gradient(to top left, #0dff9c, #73b4d8, #66ff9d);
  width: 275px;
  min-height: 250px;
  margin: 0px auto;
  margin-bottom: 30px;
  box-shadow: black 1px 1px;
  background-color: #2d9b76;
  padding: 0px 5px 5px 5px;
}
/*big block*/
.bs-date {
  margin: 0 auto;
  width: 273px;
  min-height: 140px;
  margin-bottom: 10px;
}
.bs-date-header {
  margin-bottom: 10px;
  min-height: 20px;
}
/*small block*/
.bs-day {
  width: 38px;
  height: 24px;
  padding: 0px 2px;
  background-color: rgba(207, 255, 236, 0.29);
  /*    border: outset 1px #dbf0ea;*/
  float: left;
  margin: 0.5px 0;
  text-align: center;
}
.bs-day:hover {
  /* background-color: rgba(207, 255, 236, 1);*/
  margin: 0.5px;
  margin-right: 1px;
  width: 36px;
  padding: 0px 1px;
  cursor: pointer;
}
.bs-active0 {
  color: white;
}
.bs-active2 {
  background-image: linear-gradient(to top, #9dffc8, #1aad77, #9dffc8);
  padding: 2px;
}
.mounth-line div {
  float: left;
}
.mounth-line {
  padding: 2px;
  width: 270px;
  margin: 0px auto;
}
.mounth {
  width: 150px;
  text-align: center;
}
.mounth-line .glyphicon {
  text-align: center;
  padding: 2px;
  width: 25px;
}
.circle {
  border: 1px solid red;
  width: 26px;
  height: 22px;
  border-radius: 50% 40% 45% 50%;
  margin: 0px auto;
  text-align: center;
  margin-top: 2px;
  line-height: 1.2857143;
}
.circle:hover {
  background-image: linear-gradient(to top left, #ffdde1, #ff110c, #ffe3fd);
  border: 0px solid red;
  border-radius: 50%;
  line-height: 1.5857143;
}
.marker-image {
  width: 150px;
}
.marker-link {
  cursor: pointer;
}
/*blog list style*/
.blog-page-header {
  color: #747474;
  background-color: #f6f6f6;
  border-bottom: 1px solid #d2d3d4;
}
.blog-page-header h1 {
  margin: 20px 0;
}
.blog-page-content {
  padding: 50px 0;
}
.blog-page-content a {
  color: #747474;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.blog-page-content a:hover {
  text-decoration: none;
  color: #a0ce4e;
}
.blog-page-content aside {
  background: red;
}
.blog-page-content aside .blog-find {
  margin-bottom: 45px;
}
.blog-page-content aside .blog-find .input-group .form-control {
  border-radius: 0;
}
.blog-page-content aside .blog-find .btn {
  border-radius: 0;
  background: #a0ce4e;
  color: #747474;
  border: 1px solid #a0ce4e;
}
.blog-page-content aside .blog-category-list {
  margin-bottom: 45px;
}
.blog-page-content aside .blog-category-list h3 {
  margin: 0 0 18px 0;
  color: #747474;
}
.blog-page-content aside .blog-category-list ul {
  list-style-type: none;
  padding: 0;
}
.blog-page-content aside .blog-category-list ul li {
  border-bottom: 1px solid #eaeaea;
}
.blog-page-content aside .blog-category-list ul li a {
  padding: 5px 0;
  display: inline-block;
}
.blog-page-content aside .blog-category-list ul li a i {
  display: inline-block;
  margin-right: 10px;
}
.blog-page-content aside #tabs-blog .nav-tabs {
  border-bottom: none;
}
.blog-page-content aside #tabs-blog .nav-tabs li {
  border-radius: 0;
  width: 50%;
  text-align: center;
}
.blog-page-content aside #tabs-blog .nav-tabs li a {
  border-radius: 0;
  margin: 0;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #eee;
  border: 1px solid #dddddd;
  border-bottom: none;
  font-size: 15px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.blog-page-content aside #tabs-blog .nav-tabs li a:hover {
  background: #fff;
}
.blog-page-content aside #tabs-blog .nav-tabs li.active a {
  background: #fff;
  border-top: 3px solid #a0ce4e;
}
.blog-page-content aside #tabs-blog .tab-content {
  border: 1px solid #dddddd;
  border-top: none;
  overflow: hidden;
}
.blog-page-content aside #tabs-blog .tab-content .blog-aside-items {
  padding: 20px;
  border-bottom: 1px solid #dddddd;
  margin-top: 0;
}
.blog-page-content aside #tabs-blog .tab-content .blog-aside-items:last-child {
  border-bottom: none;
}
.blog-page-content aside #tabs-blog .tab-content .blog-aside-items img {
  width: 52px;
  height: 52px;
}
.blog-page-content aside #tabs-blog .tab-content .blog-aside-items .media-heading {
  font-size: 15px;
}
.blog-page-content aside #tabs-blog .tab-content .blog-aside-items .media-date {
  color: #747474;
  font-size: 13px;
}
.blog-list-item {
  font-family: 'PT Sans', sans-serif;
  color: #818181;
  border: none;
  border-radius: 0;
  padding: 0;
}
.blog-list-item .caption {
  border: 1px solid #eaeaea;
  border-bottom-width: 3px;
  padding: 30px 25px 0 25px;
}
.blog-list-item .caption .blog-title {
  margin: 0 0 5px 0;
}
.blog-list-item .caption .blog-separator {
  margin: 10px 0;
  height: 6px;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}
.blog-list-item .caption .blog-content {
  text-align: justify;
  min-width: 80px;
}
.blog-list-item .caption .blog-meta {
  margin: 20px 0;
}
.blog-item-page .blog-page-content {
  padding: 0;
}
.blog-item-page .blog-page-content .blog-wrapper img {
  width: 100%;
}
.blog-item-page .blog-page-content .blog-wrapper .blog-title {
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 25px;
}
.blog-item-page .blog-page-content .title-sep.sep-double {
  height: 6px;
  border-bottom-width: 1px;
  border-top-width: 1px;
}
/********************************** User Profile *****************************/
.user-page {
  margin-top: 10px;
  margin-bottom: 10px;
}
.user-page__sidebar {
  border-right: 1px solid #ddd;
}
.user-page__avatar {
  margin-bottom: 10px;
}
.user-page__avatar img {
  max-width: 100%;
  margin-bottom: 5px;
}
.user-page__avatar button {
  width: 100%;
}
.marker-image{
  width:150px;
}
.marker-link{
  cursor:pointer;
}
/*--places ------*/
.marker-image{
  width:150px;
}
div.place{
  margin:10px;
}
.place-container img{
  width:250px;
}
.place img{width:130px;
  padding-bottom:5px;
}
.place img.profile{
  width:80px;
  height:80px;
}
/* place */