<div class="container-fluid places">
    <div class="row places">
        <div class="col-xs-9 no-padding" id="main-content">
            <div class="col-xs-12 no-padding" id="filter">  <!-- Filter container start -->
                <div class="btn-group col-xs-12" role="group" id="buttons">
                    <div class="col-xs-2"></div>
                    <button type="button" class="btn col-xs-2 btn-first" ng-click="$ctrl.toggleAddPlace();">Add place</button>
                    <div class="btn-group col-xs-2 no-padding" role="group" id="dropdownFilterMapType">
                        <button type="button" class="btn dropdown-toggle col-xs-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Map type
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu col-xs-12 list-group no-padding">
                            <filter-map-type></filter-map-type>
                        </ul>
                    </div>
                    <div class="btn-group col-xs-2 no-padding" role="group" id="dropdownFilterCategory">
                        <button type="button" class="btn dropdown-toggle col-xs-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Places category
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu col-xs-12 list-group no-padding">
                            <filter-category></filter-category>
                        </ul>
                    </div>
                    <button type="button" class="btn col-xs-2 btn-last" >Export</button>
                    <div class="col-xs-2"></div>
                </div>
            </div> <!-- Filter container end -->

            <!-- New place form -->
            <div style="margin-top: 55px;" ng-show="$ctrl.addPlaceState">
              <form name="addPlace" novalidate role="form" class="simple-form well">
                <div class="form-group">
                  <label for="name">Name:</label>
                  <input type="text" name="name" ng-model="$ctrl.newPlace.name" />
                </div>
                <div class="form-group">
                  <label for="description">Description:</label>
                  <textarea name="description" ng-model="$ctrl.newPlace.description" />
                </div>
                <div class="form-group">
                  <label for="latitude">Latitude:</label>
                  <input type="text" name="latitude" ng-model="$ctrl.newPlace.latitude" />
                </div>
                <div class="form-group">
                  <label for="longitude">Longitude:</label>
                  <input type="text" name="longitude" ng-model="$ctrl.newPlace.longitude" />
                </div>
                <div class="form-group">
                  <label for="type">Type:</label>
                  <input type="text" name="type" ng-model="$ctrl.newPlace.type" />
                </div>
                <input type="submit" ng-click="$ctrl.addNewPlace($ctrl.newPlace)" class="btn btn-default" value="Submit" />
              </form>
              <pre>place = {{$ctrl.newPlace | json}}</pre>
            </div>
            <!-- New place form end -->

            <div class="col-xs-12 no-padding"><!-- Map container start-->
                <show-map></show-map>
            </div> <!-- Map container end-->

            <div class="col-xs-12 no-padding" id="sidebarBottom"> <!-- Related tracks container start -->
                <div class="col-xs-12 no-padding">
                    <h2>Popular Tracks in location</h2>
                </div>
                <div class="col-xs-12 no-padding">
                    <div class="col-xs-4 place-wrapper">
                        <div class="place-container">

                        </div>
                    </div>
                    <div class="col-xs-4 place-wrapper">
                        <div class="place-container">

                        </div>
                    </div>
                    <div class="col-xs-4 place-wrapper">
                        <div class="place-container">

                        </div>
                    </div>
                </div>
            </div> <!-- Related tracks container end -->
        </div>
        <div class="col-xs-3 no-padding" id="sidebar">
            <div class="col-xs-12" id="search">
                <div class="input-group col-xs-offset-1 col-xs-10">
                    <input class="form-control" type="text" name="search">
                    <span class="input-group-btn">
                        <button class="btn" type="button">Search</button>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 no-padding" id="popularPlaces">
                <location-places></location-places>
            </div>
        </div>
    </div>
</div>
