<div class="signhead">
  <h5 class="logotype">Green tourism</h5>
  <span class="fa fa-circle fa-2x circleuser"></span>
  <span class="fa fa-user fa-2x user"></span>
  <h5 id="informlog">
    <a href="" ng-click="login=!login" class="link">login
    </a>or
    <a href="" ng-click="login=!login" class="link">Signup</a>
  </h5>
</div>

<div class="container signup" ng-hide="login">
  <form role="form" name="signup" method="POST" action="/api/signup" novalidate ng-submit="$ctrl.signup(signup.$valid)">

    <div class="input-group-sm">
      <label for="Name">First Name:</label>
      <input type="text" name="firstName" class="form-control" ng-pattern="/^[a-zA-Z\s]+$/" ng-model="$ctrl.user.firstName" ng-minlength="2" ng-maxlength="15" required>
      <p class="error" ng-show="signup.firstName.$touched && ($ctrl.showError || signup.firstName.$dirty)">
        {{$ctrl.getError(signup.firstName.$error)}}
      </p>
      <p class="tip">Is your real name, sign under comments, posts</p>
    </div>

    <div class="input-group-sm">
      <label for="lastName">Last Name:</label>
      <input type="text" name="lastName" class="form-control" ng-pattern="/^[a-zA-Z\s]+$/" ng-model="$ctrl.user.lastName" ng-minlength="2" ng-maxlength="15" required>
      <p class="error" ng-show="signup.lastName.$touched && ($ctrl.showError || signup.lastName.$dirty)">
        {{$ctrl.getError(signup.lastName.$error)}}
      </p>
      <p class="tip">Is your real family name</p>
    </div>

    <div class="input-group-sm">
      <label for="email">Email:</label>
      <input type="email" name="email" class="form-control" ng-model="$ctrl.user.email" ng-pattern="/^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/" required>
      <p class="error" ng-show="signup.email.$touched && ($ctrl.showError || signup.email.$dirty)">
        {{$ctrl.getErroremail(signup.email.$error)}}
      </p>
    </div>

    <div class="input-group-sm">
      <label for="password">Password:</label>
      <input type="password" name="password" class="form-control" id="password" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{3,}$/" ng-model="$ctrl.user.password" ng-minlength="7" ng-maxlength="25" required>
      <p class="error" ng-show="signup.password.$touched && ($ctrl.showError || signup.password.$dirty)">
        {{$ctrl.getErrorpassword(signup.password.$error)}}
      </p>
      <p class="tip">At least min 7 characters required 1 Alphabet, 1 Number</p>
    </div>

    <div class="input-group-sm">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" class="form-control" ng-model="$ctrl.user.confirmPassword" required match="signup.password">
      <p class="error" ng-show="signup.confirmPassword.$touched && ($ctrl.showError || signup.confirmPassword.$dirty)">
        {{$ctrl.getErrorpassword(signup.confirmPassword.$error)}}
      </p>
      <p class="tip">Please input your password again</p>
    </div>

    <h4 class="policy">By clicking Sign Up, you agree to our Terms and Policy</h4>
    <input type="submit" class="btn btn-success btn-block submit-btn" value="Sign up" />
  </form>
</div>
