/***************************************************************
  NAVBAR
****************************************************************/
.navtop {
  padding-top: 5px;
  a {
    color: @base-green-color;
  }
}

.navbar-right.navtop {
  text-align: right;
  padding-right: 25px;
}

.logo {
  text-align: center;
  a {
    font-size: 28px;
    font-weight: bolder;
  }
}

.footer-logo {
  font-size: 26px;
  font-weight: bolder;
  color: @base-green-color;
}

/***************************************************************
  FOOTER
****************************************************************/

.footer {
  height: 170px;
  background-color: @footer-bg-color;
  .row div {
    padding: 30px 0 0 40px;
  }
  p {
    font-size: 20px;
    color: @base-white-color;
    span {
      color: @base-green-color;
    }
  }
  ul {
    list-style-type: none;
    a {
      color: @base-green-color;
    }
  }
}
